[2019-08-05 15:37] odscjames commented on #1192
@jpmckinney, any thoughts on the OCDS side of this?

[2019-08-05 16:28] jpmckinney commented on #1192
Sure, either delete it or have the tests skipped if they are run in the Travis environment.

[2019-08-07 15:41] stevieflow opened #1206 "[IATI] Include XML declaration in XML file"
I noticed that the converted file does *not* include the opening line:

This isn't a problem for some applications.  However, if I try to import a CoVE XML file into AidStream, it declares it not valid XML ---> I have to hand edit the CoVE file to get it imported

cc/ @rory09 @robredpath

[2019-08-07 15:44] Bjwebb commented on #1206
(angle bracets `<` `>` need to be escaped on Github `\<` `\>` or included in a codeblock e.g. ` ``` `, I've edited to fix this)

[2019-08-09 15:05] michaelwood opened #1207 "remove pip from requirements.in"
Not sure why this is in there but will affect the virtualenv for anything that installs cove.

[2019-08-13 12:18] Bjwebb commented on #1206
Including the XML declaration is a SHOULD (not a MUST) in the XML spec https://www.w3.org/TR/xml/#sec-prolog-dtd. Aidstream should accept files without it, so we should report a bug.

Adding an XML declaration is a one line change in flatten-tool, so we can also do that. However, the XML declaration is slightly different from the above, as it has encoding information. Could you manually edit a fil

[2019-08-17 08:33] stevieflow opened #1208 "[IATI] Og file XML > spreadsheet output"
This is mentioned in #959 and also via https://github.com/OpenDataServices/flatten-tool/issues/151 - but I wanted to log a specific issue in terms of the input of an Org XML file into CoVE does result in schema and ruleset tests - and then offers a conversion to spreasheet

As documented in #959 - this generates a blank spreadsheet

It would be good to fix this

[2019-08-19 19:38] jpmckinney commented on #11
From OCP's perspective, this issue can be closed / 'OCDS' tag can be removed.

[2019-08-19 19:52] jpmckinney commented on #683
✅ From OCP's perspective, this issue can be closed / 'OCDS' tag can be removed, because this is a flatten-tool issue, not a CoVE issue.

[2019-08-19 20:06] jpmckinney commented on #263
I have a great deal of difficulty understanding how each of the numbers are calculated (using the linked file as input). For example, 8 releases have an (identical) `planning` field, and the number is 1. However, I think we first need to determine how frequently this section is referenced, before investing time in improving its clarity.

[2019-08-19 20:17] jpmckinney commented on #320
✅ From OCP's perspective, this issue can be closed / 'OCDS' tag can be removed. A web API is primarily for bulk processing. In that case, either the [jOCDS API](https://devgateway.github.io/jocds/jocds-web/#endpoints) can be used (which performs the structural checks defined by the schema and codelists), or lib-cove-ocds can be used as a library like in Kingfisher (which performs other calculation

[2019-08-19 20:24] jpmckinney opened #1209 "OCDS: Remove homepage content from expired results pages"
e.g. https://standard.open-contracting.org/review/data/704b068b-af6b-4dbd-9001-e0430e2a8e16

It is just confusing and distracts from the main message.

[2019-08-19 20:27] jpmckinney commented on #434
✅ From OCP's perspective, this issue can be closed / 'OCDS' tag can be removed.

The appropriate way for publishers to test their implementations of the merge routine is to use the [test cases provided by OCDS Merge](https://github.com/open-contracting/ocds-merge#test-cases), which are comprehensive and cover cases that are less likely to occur in data samples provided to the Data Review Tool.

A

[2019-08-19 20:29] jpmckinney opened #1210 "OCDS: Link to OCDS Merge test cases if merged releases present"
Add a note to the Headlines like: "This file contains compiled releases [and versioned releases]. If you created these merged releases, we encourage you to test your implementation of the [merge routine](https://standard.open-contracting.org/latest/en/schema/merging/) using the [OCDS Merge test cases](https://github.com/open-contracting/ocds-merge#reference-implementation). For assistance, please

[2019-08-19 20:35] jpmckinney commented on #493
✅ From OCP's perspective, this issue can be closed / 'OCDS' tag can be removed.

As the Data Review Tool is presently publisher-oriented and review-oriented, the use case is to review data *as published*, to correct for errors in implementation.

For a user-oriented and use-oriented solution, users should be pointed to flattening tools (Flatten Tool CLI, [Toucan web UI](https://toucan.open-contrac

[2019-08-19 20:42] jpmckinney commented on #648
This issue is done and can be closed, e.g. try submitting:

[code]

[2019-08-19 20:51] jpmckinney commented on #692
Under what condition does a link appear? The proposals in the original issue were to add an icon (the icon commonly used on Wikipedia and elsewhere for 'external link' or 'new window') or to add the text "(see all)".

[2019-08-19 20:58] jpmckinney commented on #761
✅ From OCP's perspective, this issue can be closed / 'OCDS' tag can be removed.

The "compatibility" field is only ever `["1.1"]` now; once we know whether extensions are likely to become incompatible after OCDS 1.2.0, we can open an issue for any compatibility checks.

If a (true) dependency is undeclared, an error will occur, as the present extension will have JSON Schema `$ref`erences to defini

[2019-08-19 21:00] jpmckinney commented on #782
This issue is closed by https://github.com/open-contracting/lib-cove-ocds/pull/1 and a new issue https://github.com/open-contracting/cove-ocds/issues/111 was created.

[2019-08-19 21:27] jpmckinney commented on #896
Since this content can be MBs of HTML, it might even be best to only deliver the HTML once the user clicks "see all" (in above proposal).

[2019-08-19 21:30] jpmckinney commented on #928
✅ From OCP's perspective, this issue can be closed / 'OCDS' tag can be removed.

If a user causes an error to occur, and then changes their extension such that the error no longer occurs, I think that's fine. If they don't (and we're then able to identify the issue with the extension that causes the error), then we can of course pursue a fix.

[2019-08-20 02:32] jpmckinney commented on #901
I think this issue should be closed in favor of specific additional checks.

[2019-08-20 02:47] jpmckinney commented on #997
Closed by #1205 ?

[2019-08-20 02:51] jpmckinney commented on #1192
Closed by #1205 ?

[2019-08-20 02:54] jpmckinney commented on #1063
Can be closed?

[2019-08-20 02:54] jpmckinney commented on #1062
Can be closed?

[2019-08-20 03:24] jpmckinney commented on #1083
I don't think we need both this issue and https://github.com/open-contracting/lib-cove-ocds/issues/8

[2019-08-20 03:29] jpmckinney commented on #481
✅ From OCP's perspective, this issue can be closed / 'OCDS' tag can be removed.

Any user of the DRT knows how to copy URLs. This feature is also so far down the page that I doubt it is much used. We should first track interactions with this feature before fixing it. In the meantime, I'd be fine with removing it.

[2019-08-20 03:37] jpmckinney commented on #1160
Duplicate #683

[2019-08-20 03:43] jpmckinney commented on #1112
I've closed it, now that I can commit to the relevant deploy repo.

[2019-08-20 03:44] jpmckinney commented on #1112
I guess someone needs to deploy the change?

[2019-08-20 09:37] odscjames commented on #1112
![](https://github.trello.services/images/mini-trello-icon.png) [OCDS: Deployment: Update robots.txt to allow indexing](https://trello.com/c/hevX32rF/69-ocds-deployment-update-robotstxt-to-allow-indexing)

[2019-08-20 09:41] odscjames commented on #1112
Deployed

[2019-08-20 09:41] #1112 closed

[2019-08-20 21:54] jpmckinney opened #1211 "OCDS: Improve documentation for use as a library"
From @yolile in roadmap discussion:

[2019-08-20 22:09] jpmckinney opened #1212 "OCDS: Visualisation of how data can connect to other data sets"
… such as around IDs or concept mapping

proposed by @duncandewhurst in FY20 tooling ideas document.

@jpmckinney commented:

@duncandewhurst commented:

This point was further refined from this working document and ended up being:

Feedback on how data sets can connect to other data

This could look like another section in the data review tool, looking coverage for 'links to other datasets', e.g:

[2019-08-20 22:10] jpmckinney opened #1213 "OCDS: A ‘user view’"
… which shows what a hypothetical user might see in the data

@duncandewhurst commented:

At the data use training the first reaction from KW and Nataliia on loading some data into the data review tool was "I don't know what to do with these errors"

Based on that we realised that a 'user' rather than 'publisher' view in the data review tool would be useful.

So instead of the feedback being along

[2019-08-29 07:30] #11 closed

[2019-08-29 07:32] #683 closed

[2019-08-29 07:44] robredpath commented on #320
@jpmckinney Although this may not be a priority (which is fine with me!), I don't think that the idea of some method of automatic use of CoVE should be abandoned.

It's certainly true that we don't intend CoVE / lib-cove-ocds to be used as part of the backend for a web site - it's definitely not fast enough. If there was a demand for this, we could probably concoct something - but I'd want to know

[2019-08-29 07:45] robredpath commented on #1209
Agreed. We could probably make some use of that space, though - with some custom text that's helpful to someone who's come to an expired results page!

[2019-08-29 07:47] #434 closed

[2019-08-29 07:48] robredpath commented on #434
Closing, but pinging @duncandewhurst in case he disagrees

[2019-08-29 07:55] robredpath commented on #493
@jpmckinney are you happy that there are no political issues around the presentation of English-language headers when converted data is presented to people outside of the immediate developer environment? In Mexico, this was a contentious issue and the provision of data with multilingual headings was, I thought, part of the solution

cc @juanpane

[2019-08-29 07:55] #648 closed

[2019-08-29 09:01] #1194 closed

[2019-08-29 12:29] jpmckinney commented on #493
Yes, we will continue to work on translated versions of data (the use case in the issue title) in flattening tools, OCDS Kit, Toucan, etc.

As a tool that is primarily used to review implementation, it's desirable for column headings to match JSON paths. An implementer might download the Excel file to investigate errors, but will ultimately have to make changes to a JSON publication. If the Excel

[2019-08-29 12:37] jpmckinney commented on #320
I'll follow up with Mihai re: jOCDS Validator.

I guess the use case for a web API is an implementer who is unable or unwilling to use lib-cove-ocds as a library. (Even if their system is implemented in another language, they can either bridge to Python, or shell out to the `libcoveocds` command.) Right now, the demand for that seems low, but the issue can certainly remain open.

[2019-08-29 12:42] jpmckinney commented on #320
@robredpath Where do you see a lack of support for OCDS 1.1.4? I would imagine it can work with any provided schema.

[2019-08-29 16:50] Bjwebb commented on #895
Yes, we can do this in a few days. It's what we did for BODS, [see these screenshots for an example](https://github.com/openownership/cove-bods/issues/16#issuecomment-460512901). We replace the `oneOf` validation function from jsonschema [with our own custom one](https://github.com/OpenDataServices/lib-cove/blob/61ed8d096817c52a845ac7b1e84ae5b11e19af77/libcove/lib/common.py#L85), so we can modify

[2019-08-30 14:19] KDuerden commented on #334
This issue has reappeared - a file with planned start and end dates formatted yyyy-mm-dd as text which includes impossible dates but is passing CoVE tests.
This threw up some issues when @drkane was using the data, so I'm assuming it could also cause problems with / fail loading into GrantNav.

[2019-09-02 14:24] robredpath opened #1220 ""(giant block of JSON) has non-unique elements" validation error should be better presented"
Added 2019-09-10 by @Bjwebb:

In https://github.com/OpenDataServices/cove/issues/895#issuecomment-514122920 @duncandewhurst wrote:

[2019-09-02 14:25] robredpath commented on #1220
@Bjwebb is it fairly straightforward to remove the giant block of JSON and give some sort of meaningful feedback on where the error is so that the user can track it down?

[2019-09-02 14:26] robredpath commented on #895
Thanks, @Bjwebb

Presumably this only works if the error the user has made isn't to do with that field? This certainly sounds sufficient for a dramatic improvement over current behaviour, but am I right in thinking this algorithm could be a good candidate for future improvement to be smarter at detecting what the user was trying to do?

Also - I'd like to document the very helpful rationale here -

[2019-09-04 12:18] stevieflow commented on #1206
have tested a file with that.  It works fine @Bjwebb

cc/ @rory09

[2019-09-04 12:23] stevieflow commented on #1206
That would be great

[2019-09-04 16:09] Bjwebb commented on #1208
@stevieflow Here's a dev deploy — http://1208-iati-cove-orgxml-spreadsheet.dev.cove.opendataservices.coop/ — could you check that's behaving as expected?

[2019-09-04 20:19] Bjwebb commented on #1220
![](https://github.trello.services/images/mini-trello-icon.png) [Data Review Tool: Correct reporting of large blocks of JSON](https://trello.com/c/dXzzBjKM/48-data-review-tool-correct-reporting-of-large-blocks-of-json)

[2019-09-05 15:24] duncandewhurst opened #1221 "OCDS: Interface bug when collapsing 'structural errors' elements"
Clicking the collapse button on the second 'structural errors' element collapses the first 'structural errors element', so it isn't possible to collapse the second one ([example](https://standard.open-contracting.org/review/data/27745eaf-4557-4d4e-ba49-497edde4c0a5)).

![image](https://user-images.githubusercontent.com/19265814/64355719-94194080-cff9-11e9-8e0c-e8f4b1c056ff.png)

[2019-09-05 15:53] duncandewhurst opened #1222 "OCDS: Add support for extended versioned release data"
Data which includes both versioned releases and extensions results in the data review tool flagging additional fields in the versioned releases.

From @kindly: it isn't possible for publishers to include versioned-release patches in their extensions because

cc @yolile

[2019-09-05 16:58] Bjwebb commented on #1160
Closing in favour of this flatten-tool issue: https://github.com/OpenDataServices/flatten-tool/issues/176

[2019-09-05 16:58] #1160 closed

[2019-09-10 09:23] Bjwebb commented on #1220
I'm having a look at this to see what we can easily do. @duncandewhurst can you share the data that had this issue? (cove link has expired)

[2019-09-10 10:45] robredpath commented on #1200
For large data sets, it's much more informative to say "95% of your grants...."

When it's a very small number, 0% is misleading. We should just say the number.

@michaelwood this could be a good candidate for you to look at as part of your iterative work, if it appeals!

[2019-09-10 10:49] duncandewhurst commented on #1220
https://standard.open-contracting.org/review/data/5a270762-383e-4450-ab53-8111a9c68d89

[2019-09-10 10:53] Bjwebb commented on #1220
Looking into this, we already overwrite the `uniqueItems` validation function, to check the uniqueness of IDs instead, where they are available (https://github.com/OpenDataServices/cove/issues/155). However, this doesn't work for records, which only have OCIDs.

We can check OCIDs instead, if we know it's a record*. This should also speed up validation of records in CoVE, because checking the OCID

[2019-09-10 11:13] Lathrisk commented on #959
https://github.com/OpenDataServices/cove/issues/959#issuecomment-413179663

Organisation XML -> Spreadsheet is now implemented (pending deployment), but round trip is still not possible as the spreadsheet is still missing the Meta-tab.

Multilingual support is still missing also.

See: https://github.com/OpenDataServices/cove/pull/1219

[2019-09-10 12:40] Bjwebb commented on #895
That's right.

Separately, me and @duncandewhurst  discussed that it's better to look for `id`, which only appears in an Embedded release, because there's a proposal to add `url` to the Embedded release also.

I agree. The interface could be a bit fiddly, but its worth doing.

Yes, we'll stop showing the Python representations. Note that they could appear again for different error messages, if we

[2019-09-11 08:11] KDuerden commented on #1200
On this one, I'm of the view that messages in the Quality section should always be numbers rather than percentages. This is because the expectation is these are issues to be fixed, so being specific makes sense to me. I don't agree that using a percentage is more effective on large data sets/one with high proportion of errors. Using a number can still convey the "something isn't right here" messag

[2019-09-11 12:27] #928 closed

[2019-09-15 08:29] stevieflow opened #1224 "[IATI] Repeated nested elements are flatted with no UID - meaning roundtripping is not possible"
(original discussion in #1219)

For IATI XML to spreadsheet conversions, when we have a instance of multiple uses of the same sub element, these are pushed to their own worksheet.  A consequence of this is that it is not then possible to roundtrip this data back to XML - as we are missing any data to relate the sub element to its parent.

@Bjwebb suggests:

The types of instances where this occur

[2019-09-16 15:56] robredpath opened #1225 ""missing but required" triggers lots of errors if a field is mis-spelled."
We now group validation errors by type in 360 and OCDS CoVE, but if there's lots (eg a heading name is mis-spelled in a 360 spreadsheet) then the page is very long and can be offputting for a user who's only actually made one mistake.

I think this might be a regression, as IATI CoVE groups them and displays only the first 3. I can't actually remember, though!

Any thoughts @Bjwebb ?

[2019-09-16 15:57] robredpath commented on #378
We do this now, in 360Giving CoVE.

[2019-09-16 15:57] #378 closed

[2019-09-17 14:16] duncandewhurst commented on #1221
![](https://github.trello.services/images/mini-trello-icon.png) [CoVE: Fix interface bug when collapsing 'structural errors' elements](https://trello.com/c/2xOXZar3/103-cove-fix-interface-bug-when-collapsing-structural-errors-elements)

[2019-09-18 05:39] robredpath commented on #1208
@stevieflow When you get a sec, could you check this so that we can close this issue if it's working as expected?

[2019-09-18 09:17] Bjwebb commented on #1208
I think we got the feedback we needed from @stevieflow on the [pull request](https://github.com/OpenDataServices/cove/pull/1219).

[2019-09-18 09:21] stevieflow commented on #1208
Yeah, thanks @Bjwebb - I think we have that in the PR @robredpath (thanks for checking though)

[2019-09-19 17:03] Bjwebb commented on #1225
Looks like a regression bug with how we group validation messages coming from the JSON schema library. IATI CoVE is probably not affected because the XML schema library works slightly differently.

[2019-09-23 16:33] duncandewhurst opened #1226 "OCDS: Include package metadata in 'fields that are empty or contain only whitespaces' check"
It looks like this check currently only looks at the release, not the package metadata, at least a blank string `publisher/scheme` is not reported by the check.

The check should be carried out on both the package metadata and the contents of the package.

I'm not sure how this is implemented, so worth checking if this issue is specific to this check or whether it applies to the way additional che

[2019-09-23 16:38] duncandewhurst opened #1227 "OCDS: Account for #skiprows and #headerrows in spreadsheet validation error messages"
The row number reported in spreadsheet validation error messages is incorrect when the #skiprows or #headerrows configuration properties are set.

For example, in the data which generated the following error message (a spreadsheet with #skiprows set to 2 and #headerrows set to 5) the error is actually on row 8, not row 2:

![image](https://user-images.githubusercontent.com/19265814/65444744-991726

[2019-09-23 16:40] duncandewhurst opened #1228 "OCDS: Add additional check for default dates"
Add a check for any date fields set to 1970-01-01T00:00:00+00:00

[2019-09-24 16:40] jpmckinney commented on #895
What specific changes to the results should I be looking for?

Please use sentence case and spaces between 'Linkedreleases'.

[2019-09-24 16:54] Bjwebb commented on #895
Instead of "valid under any of the given schemas" ([current behaviour](https://standard.open-contracting.org/review/?source_url=https://gist.githubusercontent.com/Bjwebb/f18545c007c31c6655eafbdcc1ff617c/raw/9eae0964be0a3035070d8ce2a21cf1e6a78fd9f4/records_invalid_releases_less_fuzzing.json)) there are now more specific validation messages from one of the subschemas.

[2019-09-24 21:08] jpmckinney commented on #895
Aha! It's much better!

[2019-09-25 14:30] Bjwebb commented on #1206
This is now deployed to live: https://iati.cove.opendataservices.coop/

[2019-09-25 14:30] #1206 closed

[2019-09-26 14:05] duncandewhurst opened #1231 "OCDS: Unresolvable JSON pointer error"
The following data is a record package which declares the bids extension and the enquiry extension (although there is a typo in the extension.json url for the enquiry extension): https://public.mtender.gov.md/tenders/ocds-b3wdp1-MD-1539840280133

Submitting it to CoVE results in the following error:

![image](https://user-images.githubusercontent.com/19265814/65695115-d1a84100-e06e-11e9-9f0f-4fc0d

[2019-09-26 14:08] duncandewhurst opened #1232 "OCDS: CoVE flags all fields in records/compiledRelease as additional"
Tested with the [record](https://standard.open-contracting.org/review/data/2cbdeed2-351a-4a77-b0dd-76dbeb4bca0f) from the sample data repo:

![image](https://user-images.githubusercontent.com/19265814/65695467-86daf900-e06f-11e9-8352-52c011a8b772.png)

[2019-10-01 14:22] Bjwebb commented on #895
I've added text about assumptions of linked/embedded releases to the web UI: [[demo]](http://895-oneof-messages.dev.cove.opendataservices.coop/review/?source_url=https://gist.githubusercontent.com/Bjwebb/f18545c007c31c6655eafbdcc1ff617c/raw/aa5a3e06b9baec1b8c5a2e1ffa4c86bdf3a63e66/records_invalid_releases_less_fuzzing_nested.json)

![Screenshot from 2019-10-01 15-17-19](https://user-images.githubu

[2019-10-01 16:06] jpmckinney commented on #895
`date` is required whether it is an embedded or linked release, which produces double the number of error reports. However, only `date` and `tag` have this issue, so I think that's acceptable for now.

Please create an issue to remove this repetition at a later date.

If there are very many errors, the assumptions will be very repetitive. In that case, it might be preferable to group the errors by

[2019-10-02 11:10] Bjwebb opened #1233 "Group validation errors by oneOf subschema"
In https://github.com/OpenDataServices/cove/issues/895 we now assume whether a record has linked or embedded releases, in order to use the correct subschema within the `oneOf` block. Text about this assumption is added to every relevant validation message.

This text is repeated for each validation error message. Instead we should group the messages by subschema used, and state the assumption only

[2019-10-02 11:15] Bjwebb opened #1234 "Remove duplication of validation messages from within oneOf"
Introduced as part of https://github.com/OpenDataServices/cove/issues/895 when we replaced the monolithic `oneOf` validation messages for each

[2019-10-02 11:20] Bjwebb commented on #895
New issues:
Remove repeated error reports - https://github.com/OpenDataServices/cove/issues/1234
Grouping errors by subschema - https://github.com/OpenDataServices/cove/issues/1233

[2019-10-17 19:24] jpmckinney opened #1237 "OCDS: Don't report errors at different array indices separately"
![Screen Shot 2019-10-17 at 3 23 16 PM](https://user-images.githubusercontent.com/26463/67040778-2b41df80-f0f2-11e9-912a-f21b1fabb7c6.png)

"awardID is missing but required within contracts" should only appear once. It's not a relevant difference that the error occurred at index 0, 1, 2, etc. of the `contracts` array; these are presently reported separately.

[2019-10-22 07:34] robredpath commented on #1201
![](https://github.trello.services/images/mini-trello-icon.png) [Put "Link" option first and expanded](https://trello.com/c/kGCrk6ut/21-put-link-option-first-and-expanded)

[2019-10-23 10:17] robredpath commented on #1197
![](https://github.trello.services/images/mini-trello-icon.png) [Formal Usability Assessment](https://trello.com/c/BeSU5Q3S/20-formal-usability-assessment)

[2019-10-23 10:20] robredpath commented on #844
![](https://github.trello.services/images/mini-trello-icon.png) [Improve experience for people who have large files to validate](https://trello.com/c/gc9hHnUY/25-improve-experience-for-people-who-have-large-files-to-validate)

[2019-10-23 10:34] robredpath commented on #887
![](https://github.trello.services/images/mini-trello-icon.png) [Make encoding errors actually tell you what to do](https://trello.com/c/NmSoxpcI/26-make-encoding-errors-actually-tell-you-what-to-do)

[2019-10-23 10:37] robredpath commented on #535
![](https://github.trello.services/images/mini-trello-icon.png) [Make encoding errors actually tell you what to do](https://trello.com/c/NmSoxpcI/26-make-encoding-errors-actually-tell-you-what-to-do)

[2019-10-23 11:13] robredpath commented on #514
![](https://github.trello.services/images/mini-trello-icon.png) [BadZipFile error message is confusing](https://trello.com/c/UYvGZIZ7/27-badzipfile-error-message-is-confusing)

[2019-10-23 11:35] robredpath commented on #943
![](https://github.trello.services/images/mini-trello-icon.png) [Empty heading row causes unhelpful conversion error](https://trello.com/c/yFFcBF81/29-empty-heading-row-causes-unhelpful-conversion-error)

[2019-10-23 11:37] robredpath commented on #960
![](https://github.trello.services/images/mini-trello-icon.png) [Date in excel header row causes unhelpful error](https://trello.com/c/wcubxA58/30-date-in-excel-header-row-causes-unhelpful-error)

[2019-10-23 11:51] robredpath commented on #1092
Template is https://github.com/OpenDataServices/cove/blob/master/cove_ocds/templates/cove_ocds/explore_release.html#L64

[2019-10-23 11:51] robredpath commented on #1092
![](https://github.trello.services/images/mini-trello-icon.png) [typo in the headlines box ("applies1" rather than "applies 1")](https://trello.com/c/y20hPofj/31-typo-in-the-headlines-box-applies1-rather-than-applies-1)

[2019-10-24 17:01] robredpath commented on #637
![](https://github.trello.services/images/mini-trello-icon.png) [Try to identify mis-spelled additional fields](https://trello.com/c/1VsIpKX7/33-try-to-identify-mis-spelled-additional-fields)

[2019-10-25 11:49] Bjwebb commented on #1220
There's a lib-cove PR for this now: https://github.com/OpenDataServices/lib-cove/pull/35

Here's what it looks like in CoVE [[link]](http://1220-improve-non-unique-elements-error.dev.cove.opendataservices.coop/review/?source_url=https://raw.githubusercontent.com/OpenDataServices/lib-cove/1220-improve-non-unique-elements-error/tests/lib/fixtures/common/records_non_unique.json):

![Screenshot from 2

[2019-10-27 20:24] duncandewhurst commented on #1220
Thanks @Bjwebb, this looks good to me!

[2019-10-30 16:40] Bjwebb commented on #514
We should fix this in flatten-tool, so that the updated message is seen by all users of flatten-tool, including commandline CoVEs, toucan etc.

We probably want to catch this [when we load the workbook with openpyxl](https://github.com/OpenDataServices/flatten-tool/blob/511cc6d1ee83d77aa7a1efe965eb3dd7e4940c1b/flattentool/input.py#L558), and raise a new error with a more useful message.

[2019-10-31 12:27] Bjwebb opened #1239 "Lots of warning messages in py.test output makes Travis hard to read"

[2019-10-31 12:29] Bjwebb commented on #1239
A lot of these messages are in LEPL, so I looked into whether its easy to fix that. Updating the package could be an easy fix, but there's no updates availible. I also looked into why we use the package, and its used by rfc6266 for parsing Content-Disposition headers.

[2019-10-31 13:18] Bjwebb commented on #887
I made a start on this as part of scoping this issue: https://github.com/OpenDataServices/cove/pull/1240

![Screenshot from 2019-10-31 13-16-12](https://user-images.githubusercontent.com/634/67949960-a6ba8b00-fbe0-11e9-8eb0-1815cbb30aa0.png)

I used @robredpath's wording, but with "well formed" instead of "valid".

Remaining tasks:
- [ ] Finalise wording
- [ ] Add tests
- [ ] Extend to OC4IDS?
- [

[2019-10-31 21:29] jpmckinney commented on #1237
Please add to Trello. A data file (too big to upload) I received recently generated thousands of repetitions…

[2019-11-04 10:46] robredpath commented on #1225
@Bjwebb this seems to be fixed - did this...erm...happen?

[2019-11-04 11:01] Bjwebb commented on #1225
No, I think this is still broken: https://dataquality.threesixtygiving.org/data/3778f1a5-6dc4-4ed8-8bfc-dc183318cc88
Note that this applies to "X is missing but required", but not "X is missing but required within Y"

[2019-11-04 13:00] Bjwebb commented on #1111
I think I've recently come across the same problem, and fixed it in lib-cove-ocds. https://github.com/open-contracting/lib-cove-ocds/pull/37

This should be fixed in CoVE once we use the latest lib-cove-ocds release, which should be when we merge https://github.com/OpenDataServices/cove/pull/1241

[2019-11-04 13:16] KDuerden commented on #1225
Yes, just been playing around and seen that it is grouping as intended for nested fields (eg in recipient object) but not for other fields like title, description etc

[2019-11-04 15:56] jpmckinney opened #1242 "OCDS: Catch Flatten-Tool warnings to avoid false positives to Sentry"
For example, from Sentry:

[code]

Perhaps something like this in CoVE:

[code]

[2019-11-04 16:06] jpmckinney opened #1243 "OCDS: Don't long 404 for /review/data/{var} to Sentry"
These are known to 404 once the results expire, so we don't need to log these, specifically.

[2019-11-04 17:25] Bjwebb commented on #1042
Here's where we look up the "Code" column - https://github.com/OpenDataServices/lib-cove/blob/master/libcove/lib/common.py#L343
We already support "Code" and "code" — one approach would be to just add "Código" to this list. (And the equivalent for "Title").

[2019-11-05 16:01] Bjwebb commented on #1220
This is fixed in the live deploy now — https://standard.open-contracting.org/review/?source_url=https://raw.githubusercontent.com/OpenDataServices/lib-cove/master/tests/lib/fixtures/common/records_non_unique.json

[2019-11-05 16:01] #1220 closed

[2019-11-05 16:09] Bjwebb commented on #895
This was deployed to live couple of weeks ago.
Example link https://standard.open-contracting.org/review/?source_url=https://gist.githubusercontent.com/Bjwebb/f18545c007c31c6655eafbdcc1ff617c/raw/aa5a3e06b9baec1b8c5a2e1ffa4c86bdf3a63e66/records_invalid_releases_less_fuzzing_nested.json

[2019-11-06 11:18] robredpath commented on #845
![](https://github.trello.services/images/mini-trello-icon.png) [Make the headlines box red when validation fails](https://trello.com/c/9lWhYItc/34-make-the-headlines-box-red-when-validation-fails)

[2019-11-06 11:19] robredpath commented on #1210
![](https://github.trello.services/images/mini-trello-icon.png) [Link to OCDS Merge test cases if merged releases present](https://trello.com/c/oboiSZH9/35-link-to-ocds-merge-test-cases-if-merged-releases-present)

[2019-11-06 11:22] robredpath commented on #1196
![](https://github.trello.services/images/mini-trello-icon.png) [CoVE: Clarify "Download Data" text](https://trello.com/c/UPQs2jcZ/2-cove-clarify-download-data-text)

[2019-11-06 11:31] robredpath commented on #1202
![](https://github.trello.services/images/mini-trello-icon.png) [How frequently do people click on downloads?](https://trello.com/c/NsA90WsT/36-how-frequently-do-people-click-on-downloads)

[2019-11-06 11:34] robredpath commented on #1202
I've had a quick look at this on server logs. Over the course of 13 days I can see 8 instances of what look like humans using the download function; 4 of these downloaded the JSON, and 4 downloaded the generated spreadsheet. We can (and should!) check this a few times in the future to see if that's a normal amount for us.

[2019-11-06 11:49] robredpath commented on #1105
![](https://github.trello.services/images/mini-trello-icon.png) [Indent JSON with two spaces instead of four](https://trello.com/c/DNJOJNXI/38-indent-json-with-two-spaces-instead-of-four)

[2019-11-06 11:56] robredpath commented on #1159
![](https://github.trello.services/images/mini-trello-icon.png) [Group validation errors by type](https://trello.com/c/EGkm0fWL/39-group-validation-errors-by-type)

[2019-11-06 11:58] robredpath commented on #1198
![](https://github.trello.services/images/mini-trello-icon.png) ["First 3 examples" should not have ambiguous types](https://trello.com/c/vRR3Moi4/40-first-3-examples-should-not-have-ambiguous-types)

[2019-11-06 12:00] robredpath commented on #1188
@duncandewhurst is this Done, from your perspective? There's the work in https://github.com/OpenDataServices/lib-cove/pull/24 which I think fixes this (the correction from @jpmckinney notwithstanding)

[2019-11-06 15:57] robredpath commented on #1108
![](https://github.trello.services/images/mini-trello-icon.png) [Support for translations of extensions](https://trello.com/c/B0D1jlGx/41-support-for-translations-of-extensions)

[2019-11-06 15:58] robredpath commented on #1044
![](https://github.trello.services/images/mini-trello-icon.png) [Support for translations of extensions](https://trello.com/c/B0D1jlGx/41-support-for-translations-of-extensions)

[2019-11-06 15:59] robredpath commented on #1044
![](https://github.trello.services/images/mini-trello-icon.png) [Closed codelist errors appear in both 'validation errors' and 'codelist validation errors'](https://trello.com/c/kzatVkpg/42-closed-codelist-errors-appear-in-both-validation-errors-and-codelist-validation-errors)

[2019-11-06 16:07] robredpath commented on #1014
![](https://github.trello.services/images/mini-trello-icon.png) [Add links to the docs in OCDS schema validation messages](https://trello.com/c/wUiVr53z/43-add-links-to-the-docs-in-ocds-schema-validation-messages)

[2019-11-06 16:12] robredpath commented on #657
![](https://github.trello.services/images/mini-trello-icon.png) [Invalid whitespace in uris is not communicated well](https://trello.com/c/8LELhi7h/45-invalid-whitespace-in-uris-is-not-communicated-well)

[2019-11-06 16:16] robredpath commented on #1073
![](https://github.trello.services/images/mini-trello-icon.png) [Better copy for duplicate ID warning](https://trello.com/c/UYbwpPxr/46-better-copy-for-duplicate-id-warning)

[2019-11-06 16:28] robredpath commented on #679
![](https://github.trello.services/images/mini-trello-icon.png) [Handle additional fields with _ in them](https://trello.com/c/t05nSWx7/47-handle-additional-fields-with-in-them)

[2019-11-06 16:30] robredpath commented on #402
![](https://github.trello.services/images/mini-trello-icon.png) [Detect and warn about additional fields with _ in them](https://trello.com/c/t05nSWx7/47-detect-and-warn-about-additional-fields-with-in-them)

[2019-11-08 03:35] duncandewhurst commented on #895
This issue still seems to be present with Zambia's data: [https://standard.open-contracting.org/review/data/d7b728ba-e43b-462e-9cac-6e24e5b12325](https://standard.open-contracting.org/review/data/d7b728ba-e43b-462e-9cac-6e24e5b12325)

To reproduce, download the July 2019 record package from ZPPA's [download page](https://www.zppa.org.zm/record-packages) and submit it to CoVE.

[2019-11-08 20:12] jpmckinney opened #1245 "OCDS: Move OCP logo to footer, using new logo"
![OC_logo_RGB_grey](https://user-images.githubusercontent.com/26463/68507566-39d76e80-023a-11ea-9da8-275ed7fca6ee.png)

[2019-11-12 13:06] yolile opened #1246 "OCDS: Cove reports duplication when an array of strings has more than 1 item"
We hadnt noticed this yet because all of the string arrays in the schema currently doesn't have the property `"uniqueItems": true`, but the [coveredBy](https://github.com/open-contracting-extensions/ocds_coveredBy_extension) extension has it and when the field is populated with more than one string, cove reports it as a duplication:

Minimal example:
![image](https://user-images.githubusercontent.

[2019-11-13 13:58] yolile commented on #1246
Actually, this happens with any object that doesn't have the id field.

[2019-11-13 16:27] #1092 closed

[2019-11-14 10:33] Bjwebb commented on #895
Looks as I'd expect. Could you check again and screenshot the problem?

[2019-11-14 20:25] duncandewhurst commented on #895
Hmm on clicking the link above it seems to be resolved, but on uploading the file afresh the issue reappears:

![image](https://user-images.githubusercontent.com/19265814/68893192-81558180-0789-11ea-924b-eb8e6e3851c0.png)

Zambia's portal seems to be down at the moment, so I uploaded the file [here](https://drive.google.com/file/d/1MzAOjbXzLiCrtk8LHwi3AtzxspEsazR7/view?usp=sharing)

[2019-11-15 08:45] robredpath commented on #514
Copy time!

How do people feel about "The supplied file has extension .xlsx but isn't a XSLX file." for when we catch it in flatten-tool?

And then, can we catch *that* in CoVE and provide more helpful feedback to a user, or is that much more complicated? @Bjwebb

[2019-11-18 16:19] robredpath commented on #887
@jpmckinney are you happy with this copy ^^ ?

[2019-11-19 01:34] jpmckinney commented on #887
Copy looks good, thanks!

[2019-11-19 14:08] Bjwebb commented on #514
@robredpath Sounds good. Catching it again is straightfoward.

[2019-11-19 15:55] robredpath commented on #595
We did a large-scale UX review

[2019-11-19 15:55] #595 closed

[2019-11-19 15:55] robredpath commented on #594
We did a UX review

[2019-11-19 15:55] #594 closed

[2019-11-19 16:27] robredpath commented on #546
I can't see any action here. http://cove.opendataservices.coop/360/stats was decommissioned a while ago.

[2019-11-19 16:27] #546 closed

[2019-11-19 16:37] robredpath commented on #554
We did a UX review, and we're starting to treat all of the 360 web properties in a more joined-up way. Nothing else to do here!

[2019-11-19 16:37] #554 closed

[2019-11-26 10:07] Bjwebb commented on #1246
![](https://github.trello.services/images/mini-trello-icon.png) [Data Review Tool: Correct reporting of large blocks of JSON](https://trello.com/c/dXzzBjKM/22-data-review-tool-correct-reporting-of-large-blocks-of-json)

[2019-11-26 10:07] Bjwebb commented on #1246
![](https://github.trello.services/images/mini-trello-icon.png) [Data Review Tool: Correct reporting of large blocks of JSON](https://trello.com/c/dXzzBjKM/22-data-review-tool-correct-reporting-of-large-blocks-of-json)

[2019-11-26 12:42] Bjwebb commented on #1246
Here's a text copy of the JSON you shared (yours seems to be an image):
[code]

[2019-11-26 14:52] Bjwebb commented on #1246
This should be fixed now on the live CoVE instance https://standard.open-contracting.org/review/

[2019-11-26 14:52] #1246 closed

[2019-11-26 16:53] Bjwebb commented on #895
I've identified the source of the problem here, which is my code doesn't work properly with 1.0. This is because it looks for the `title` of the `releases` array, which isn't there in 1.0. I'm guessing the reason it sometimes works is that you've selected 1.1 from the dropdown.

Today I've fixed a bug with arrays being falsely flagged as non-unique https://github.com/OpenDataServices/cove/issues/1

[2019-11-27 17:23] robredpath commented on #1042
@romifz @yolile what would the appropriate Spanish alternative(s) be for Title? Are there any alternatives for 'Código' that we need to be aware of (ie, for other localisations?)

[2019-11-27 17:24] robredpath commented on #1042
![](https://github.trello.services/images/mini-trello-icon.png) [Handle translated codelists](https://trello.com/c/utQpREoi/56-handle-translated-codelists)

[2019-11-27 20:37] jpmckinney commented on #1042
`Code` is always translated as `Código` for OCDS codelists. Other Spanish terms are not supported/valid. Title is `Título` (note diacritic).

Our other translations are:

* French: Code (same), Titre
* Italian: Codice, Titolo

[2019-11-28 19:07] romifz commented on #1044
I guess some action has been taken regarding this issue, because closed codelist errors don't appear anymore as validation errors ([example here](https://pastebin.com/raw/HyRnqKPn)).

However, wouldn't be best to keep closed codelist errors inside the `validation_errors` list, as they are breaking structural rules of the schema? I see that the Data Review Tool shows these as check failures, but wh

[2019-12-03 16:08] robredpath commented on #1224
![](https://github.trello.services/images/mini-trello-icon.png) [IATI CoVE - Add UIDs to nested elements during flattening](https://trello.com/c/MOLWfxRv/10-iati-cove-add-uids-to-nested-elements-during-flattening)

[2019-12-03 20:44] jpmckinney commented on #535
Note that [“Objects in I-JSON messages MUST NOT have members with duplicate names”](https://tools.ietf.org/html/rfc7493#section-2.3). `object_pairs_hook` can be used to warn/raise if there are duplicate keys: https://stackoverflow.com/questions/14902299/json-loads-allows-duplicate-keys-in-a-dictionary-overwriting-the-first-value

[2019-12-07 08:33] #1201 closed

[2019-12-09 21:10] duncandewhurst commented on #1237
+1 I've come across this issue twice this week

[2019-12-09 21:12] duncandewhurst commented on #1237
![](https://github.trello.services/images/mini-trello-icon.png) [Don't report errors at different array indices separately](https://trello.com/c/6b5iP6ti/59-dont-report-errors-at-different-array-indices-separately)

[2019-12-09 21:16] duncandewhurst commented on #1237
Files to reproduce the issue:

[spreadsheet](https://docs.google.com/spreadsheets/d/e/2PACX-1vTYez3rtlyL06ZTif6c3WC5JV24Jpvrf6UCH2HaJoE48SKpLifViOrbwXsp5bUbgkZ9xWGxZ0pL6zVk/pub?output=xlsx)

[json](https://drive.google.com/file/d/1hzuNPhwBUc-tYjtBr3Yw5oUUyLL35Zcy/view?usp=sharing)

[2019-12-10 09:52] stevieflow opened #1252 "[IATI] TagVocabulary codelist needs updating"
This vocabulary has had codes 2 and 3 added http://reference.iatistandard.org/203/codelists/TagVocabulary/ -

When presenting data with this, CoVE flags these as invalid codes:

[code]

[2019-12-12 11:53] rhiaro commented on #657
We could add additional text to the message so it says "Invalid 'uri' found (should not contain spaces)". We could either do this universally (so it shows regardless of the cause of the error) or conditionally on the detection of whitespace in the URI.

Text for this validation error currently lives in [lib-cove/lib/common.py](https://github.com/OpenDataServices/lib-cove/blob/master/libcove/lib/co

[2019-12-12 14:01] jpmckinney commented on #657
Yes, I agree (as @rhiaro mentioned on Trello) that simply wrapping the URL in quotes won't make the extra space(s) obvious to users.

Regarding the error message: does the error occur if there are spaces *anywhere* in the URL? If so, then it's fine. The example in the issue description had spaces only before/after, so I wasn't sure.

[2019-12-12 16:06] robredpath commented on #657
Yes, I've just given this a quick test and spaces do cause the 'uri' type check to fail even in the middle of an entry

It's fine for this to apply to all CoVEs

I like the idea of specific whitespace detection. Could we make it so that leading/trailing whitespace is detected separately, so that we can guide people closer to the particular issue that they've had? I think that an error message talk

[2019-12-13 20:11] stevieflow commented on #959
What's blocking us getting this to deployed @Bjwebb @Lathrisk ?

[2019-12-16 11:30] Lathrisk commented on #959
@stevieflow I'm just updating the PR and refreshing my memory just now, but it will need re-reviewed (@Bjwebb had previously requested changes). I'm not sure if the meta-tab work that Ben has been doing will tie in with this as well? I will mention it at stand-up tomorrow morning.

[2019-12-17 14:35] mrshll1001 opened #1253 "OCDS: Error with validation checks for Release IDs"
In OCDS the guidance for release IDs is given [as follows](https://standard.open-contracting.org/latest/en/schema/identifiers/#release-id):

This means two releases may have the same release id *if* they are under different contracting processes (OCIDs) and still be valid. In [this gist](https://gist.github.com/mrshll1001/2f8ff5c8e2f687a547eb75b30b5eebbe) there are 11 releases under 11 different O

[2019-12-19 15:57] Bjwebb commented on #895
The lib-cove commits haven't made their way into a release yet, so not into CoVE.

[2019-12-20 16:15] Bjwebb commented on #1253
Note: CoVE's behaviour reflects what the 1.0 and 1.1 standard used to say https://github.com/open-contracting/standard/issues/455

Which is not to say we shouldn't change it now, of course.

[2019-12-23 11:06] stevieflow opened #1254 "Alter CoVE text for (eventual) .ods format support"
We will need to schedule and implement an update of the on-screen text on all instances of CoVE, adding in .ods as acceptable input file format

[2019-12-23 11:07] Bjwebb commented on #1254
![](https://github.trello.services/images/mini-trello-icon.png) [Write tests for flatten-tool .ods support + merge + deploy to CoVEs](https://trello.com/c/qDgyY63Z/4-write-tests-for-flatten-tool-ods-support-merge-deploy-to-coves)

[2019-12-23 11:09] stevieflow opened #1255 "Provide .ods format alongside .xlsx in the conversion downloads"
Currently we provide a .xlsx file for download , when an input file is converted (JSON or XML).

With the addition of .ods as an input file, we should also ensure this format is generated as an output (alongside .xlsx)

[2019-12-23 11:10] Bjwebb commented on #1255
![](https://github.trello.services/images/mini-trello-icon.png) [Write tests for flatten-tool .ods support + merge + deploy to CoVEs](https://trello.com/c/qDgyY63Z/4-write-tests-for-flatten-tool-ods-support-merge-deploy-to-coves)

[2020-01-02 15:07] robredpath commented on #1253
![](https://github.trello.services/images/mini-trello-icon.png) [Update validation checks for Release IDs to reflect standard change](https://trello.com/c/2JgDlOsv/60-update-validation-checks-for-release-ids-to-reflect-standard-change)

[2020-01-03 13:03] rhiaro commented on #845
From colours already in the theme, any preference for light red or dark red?

![lightred](https://user-images.githubusercontent.com/466229/71724753-84dcbf00-2e42-11ea-88cc-2d3050a1ffcf.png)

or

![darkred](https://user-images.githubusercontent.com/466229/71724754-84dcbf00-2e42-11ea-99c5-a9c487afc95d.png)

[2020-01-03 13:15] ColinMaudry commented on #845
Dark, since it also has light text and consequently matches the green.

[2020-01-03 13:16] ColinMaudry commented on #845
Actually, I would also update the color of the heading for "Structural Errors - Format" and use dark red too.

[2020-01-03 14:30] robredpath commented on #845
+1 to the darker colour, in both cases if possible.

[2020-01-14 11:15] Bjwebb commented on #895
The updated lib-cove is now live on https://standard.open-contracting.org/review/

[2020-01-14 11:15] #895 closed

[2020-01-14 22:31] jpmckinney commented on #1111
Can be closed?

[2020-01-15 11:45] #1111 closed

[2020-01-17 15:18] Bjwebb commented on #1254
![](https://github.trello.services/images/mini-trello-icon.png) [Update CoVE to mention .ods, and link to converted .ods](https://trello.com/c/QVR0K443/21-update-cove-to-mention-ods-and-link-to-converted-ods)

[2020-01-17 15:19] Bjwebb commented on #1255
![](https://github.trello.services/images/mini-trello-icon.png) [Update CoVE to mention .ods, and link to converted .ods](https://trello.com/c/QVR0K443/21-update-cove-to-mention-ods-and-link-to-converted-ods)

[2020-01-20 16:19] robredpath commented on #337
![](https://github.trello.services/images/mini-trello-icon.png) [Improve our use of Sentry for CoVE](https://trello.com/c/lR0ZdyDe/22-improve-our-use-of-sentry-for-cove)

[2020-01-20 16:19] robredpath commented on #311
![](https://github.trello.services/images/mini-trello-icon.png) [Improve our use of Sentry for CoVE](https://trello.com/c/lR0ZdyDe/22-improve-our-use-of-sentry-for-cove)

[2020-02-03 18:07] Bjwebb commented on #1252
![](https://github.trello.services/images/mini-trello-icon.png) [TagVocabulary codelist needs updating](https://trello.com/c/ib8a3erX/28-tagvocabulary-codelist-needs-updating)

[2020-02-08 15:33] stevieflow opened #1261 "IATI CoVE: spinner graphic is missing"
I think the spinner graphic has gone amiss

![IATI CoVE (1)](https://user-images.githubusercontent.com/1209944/74087897-490fc780-4a88-11ea-991d-6f4f405b71ca.png)

[2020-02-11 17:43] stevieflow opened #1262 "IATI: converting to spreadsheet doesn't generate a Meta sheet"
I can understand why this is an expected behaviour - but this means it not possible to fully roundtrip, without adding in the Meta sheet (specially with the version and generated-datetime attributes)

Perhaps another way to express this is: the iati-activities element and attributes are lost on converting to a spreadsheet

[2020-02-12 13:59] Bjwebb commented on #1261
Looks fine to me. Its fetched from an external url though, so your connection could be blocking that.

[2020-02-12 17:58] Bjwebb commented on #1262
I agree. Its not a quick fix though, so we need to talk about scheduling some time for this.

[2020-02-12 19:03] stevieflow commented on #1262
@Bjwebb for the trello board?

[2020-02-14 17:58] Bjwebb commented on #1262
![](https://github.trello.services/images/mini-trello-icon.png) [IATI: converting to spreadsheet doesn't generate a Meta sheet](https://trello.com/c/Hs6N0nI5/35-iati-converting-to-spreadsheet-doesnt-generate-a-meta-sheet)

[2020-02-20 10:41] odscjames opened #1265 "Contributers Agreement"
CONTRIBUTING.md says

That 404's

[2020-02-20 10:41] odscjames commented on #1265
![](https://github.trello.services/images/mini-trello-icon.png) [How we handle external open source contributions](https://trello.com/c/jn5IKX8N/15-how-we-handle-external-open-source-contributions)

[2020-02-20 19:36] jpmckinney commented on #1242
![](https://github.trello.services/images/mini-trello-icon.png) [Capture/ignore warnings from Flatten Tool to avoid polluting Sentry](https://trello.com/c/mwpRsSSA/63-capture-ignore-warnings-from-flatten-tool-to-avoid-polluting-sentry)

[2020-03-03 09:25] michaelwood commented on #1070
@KDuerden my colleague @BibianaC is available to work on this, as it's more than a year could you confirm that this is something that is still needed? Thanks

[2020-03-03 09:29] michaelwood commented on #1070
![](https://github.trello.services/images/mini-trello-icon.png) [Additional Check - recipient geography / area code not present](https://trello.com/c/q1sUUcsD/15-additional-check-recipient-geography-area-code-not-present)

[2020-03-05 15:46] jpmckinney commented on #1197
This issue can be transferred to https://github.com/open-contracting/cove-ocds

Noting some quick observations from Hotjar recordings:

* Many users don't get past the first page. The common behavior is to scroll past the form, loiter around the content area, scroll further down, then back up to the content area.
  * Similar to my heuristic observations above, my interpretation is that people don'

[2020-03-11 10:11] Bjwebb commented on #1225
Here's a spreadsheet to reproduce this: [missing.xlsx](https://github.com/OpenDataServices/cove/files/4317496/missing.xlsx)
It also includes an "X is missing but required within Y" row which is grouped correctly.

![Screenshot from 2020-03-11 10-10-20](https://user-images.githubusercontent.com/634/76405821-a5645080-6380-11ea-868f-7c265c2368e5.png)

[2020-03-11 14:15] Bjwebb commented on #1225
To fix this we need to make a change in lib-cove, that would affect the message text outputted by BODS CoVE. 360 and OCDS CoVE message text will not be affected (although obviously grouping will be).

My suggestion is to replace numbers in BODS error messages (indices of arrays), with some sort of generic placeholder (e.g. `[number]`). This would group cases of the same error messages with differe

[2020-03-11 14:21] kd-ods commented on #1225
@Bjwebb I see no problem with that.

[2020-03-11 14:23] Bjwebb commented on #1237
This is the same issue as https://github.com/OpenDataServices/cove/issues/1225

[2020-03-11 14:30] Bjwebb commented on #1262
flatten-tool issue for this https://github.com/OpenDataServices/flatten-tool/issues/176

[2020-03-12 15:52] BibianaC commented on #1200
@KDuerden Is it ok for you if I work on this one?

[2020-03-12 15:56] KDuerden commented on #1200
Thanks @BibianaC that would be great!

[2020-03-16 11:44] BibianaC commented on #1200
![](https://github.trello.services/images/mini-trello-icon.png) [Quality feedback messages in 360Giving Quality Checks should give number of grants, not %, if it's a small number](https://trello.com/c/ttCKtbdv/43-quality-feedback-messages-in-360giving-quality-checks-should-give-number-of-grants-not-if-its-a-small-number)

[2020-03-19 10:28] Bjwebb commented on #1225
This is now in lib-cove https://github.com/OpenDataServices/lib-cove/pull/51

[2020-03-19 10:29] Bjwebb commented on #1237
This is now fixed in lib-cove https://github.com/OpenDataServices/lib-cove/pull/51. Next steps are to make a release and add it to cove-ocds.

[2020-04-10 19:58] jpmckinney commented on #896
See CRM issue 5858, where the very large table causes the user's browser to crash/freeze.

[2020-04-15 10:04] robredpath commented on #896
![](https://github.trello.services/images/mini-trello-icon.png) [Quick fixes for large files](https://trello.com/c/pZJldiNG/70-quick-fixes-for-large-files)

[2020-04-15 12:30] #1200 closed

[2020-04-22 10:07] #1237 closed

[2020-04-22 16:25] Bjwebb commented on #1237
The fix is now live on https://standard.open-contracting.org/review/
@duncandewhurst Could you check that this now behaves as expected?

[2020-04-23 13:45] KDuerden opened #1280 "Error message: JSONDecodeError"
Valid Excel file of data that is unchanged from yesterday is getting error message:

https://dataquality.threesixtygiving.org/data/a92bac17-3d3c-4588-81a4-c458220fdd4e

I tested a few files before lunch and up to around 2pm today, and it was fine. Now only getting error messages.
Just tried testing some JSON data too, and got this error:

https://dataquality.threesixtygiving.org/data/4e5b2359-5fc0

[2020-04-23 16:49] Bjwebb commented on #1280
This happened because GitHub was down. It should be fixed now.

We fetch the JSON schema from GitHub. This is itself a JSON file, hence the JSONDecodeError when the correct JSON was not returned.

Options here are: accept this breaking on the rare occasion that GitHub is down, or rewrite our code to fall back to the last good copy we downloaded.

More technical detail for this error can be found o

[2020-04-23 17:00] KDuerden commented on #1280
Thanks @Bjwebb - good to know the cause, we can recognise for future reference. Happy to leave it as acceptable risk caused by Github outage - no need to do a re-write, unless Github's uptime decreases significantly!

[2020-04-23 17:02] #1280 closed

[2020-04-24 02:38] duncandewhurst commented on #1237
Looking good, thanks @Bjwebb!

[2020-05-07 12:52] Bjwebb commented on #896
I've done some work on the releases table in https://github.com/open-contracting/cove-ocds/pull/35, but that doesn't include the "Records Table".

[2020-05-13 07:43] robredpath commented on #1245
![](https://github.trello.services/images/mini-trello-icon.png) [Move OCP logo to footer + use new logo](https://trello.com/c/qSRe3mn0/75-move-ocp-logo-to-footer-use-new-logo)

[2020-05-13 08:01] robredpath commented on #514
![](https://github.trello.services/images/mini-trello-icon.png) [Provide a nicer error message if someone supplies a bad XSLX file](https://trello.com/c/WHubF3TI/65-provide-a-nicer-error-message-if-someone-supplies-a-bad-xslx-file)

[2020-05-28 09:34] robredpath commented on #896
![](https://github.trello.services/images/mini-trello-icon.png) [Truncate rows in Records table as well as Releases](https://trello.com/c/6QmZNE0w/78-limit-number-of-rows-in-records-table-as-well-as-releases)

[2020-06-03 13:51] Bjwebb commented on #845
![Screenshot from 2020-06-03 14-49-48](https://user-images.githubusercontent.com/634/83644744-82c18c80-a5a9-11ea-9527-28a91f04374a.png)

I've made these changes on the cove-845-red-box branch ([PR](https://github.com/open-contracting/cove-ocds/pull/40)). There's a dev deploy at http://cove.dev1.cove.opencontracting.uk0.bigv.io/review/. @ColinMaudry @duncandewhurst Could you check this looks like w

[2020-06-03 14:00] ColinMaudry commented on #845
Looks good! http://cove.dev1.cove.opencontracting.uk0.bigv.io/review/data/1065e7f0-667a-4ef4-a7a8-6615e253e424

[2020-06-10 02:08] duncandewhurst commented on #845
Looks good to me to!

[2020-06-10 13:00] notshi opened #1283 "IATI CoVE: Activity ids with / confuses URL parser"
Example url: http://d-portal.org/q.xml?aid=XM-OCHA-CBPF-AFG-19/3481/RA4/APC/NGO/14847
CoVE output: https://iati.cove.opendataservices.coop/data/e072d03e-7a3d-4b67-a1d1-3ec90e0e0d5d
Raised here: https://github.com/devinit/D-Portal/issues/576#issuecomment-640924815

[2020-06-15 16:00] Bjwebb commented on #1283
Thanks for the report.

Relevant piece of code: https://github.com/OpenDataServices/lib-cove-web/blob/5aa33cb098fa8bd7ab932bdd95fc5779b5d89fd3/cove/input/models.py#L67
We use a library for this. (Although, one we've been meaning to move away from, because its dependencies are deprecated). Not sure when I'll have chance to dig into this.

There's an unsatisfactory work around at the moment: save an

[2020-06-16 23:44] duncandewhurst opened #1284 "OCDS: Use a neutral colour where feedback isn't positive or negative"
Following on from #845 where we changed the colour of UI elements with feedback about errors to red, I now find that the green colour used for other UI elements suggests positive feedback, when in fact they are just informative rather than positive or negative.

I suggest we use green for positive feedback (passing checks, successful conversion etc.), red for negative feedback (validation errors,

[2020-06-17 08:10] morchickit commented on #1284
Just to say that Green-Red-Yellow is a problematic colour palette for
people who are colour blind.
Try this to find an appropriate palette -
https://colorbrewer2.org/#type=sequential&scheme=BuGn&n=3

On Wed, 17 Jun 2020 at 00:44, Duncan Dewhurst <notifications@github.com>
wrote:

--

Mor Rubinstein

Programme and Product manager, 360Giving

Tel. +44 (0)20 7812 3773 | +44 (0)7946 894610

Skype: mor

[2020-06-17 08:17] duncandewhurst commented on #1284
Good point, thanks @morchickit.

Any of the 3-class qualitative colourblind safe options on there look good to me

[2020-06-19 12:50] Bjwebb commented on #1284
Is picking colourblind safe colours helpful if we don't have a key?

[2020-06-22 15:01] robredpath commented on #1284
A lot of the colour-blind-safe options from the site that @morchickit provided (thanks for that, Mor!) seem to rely on light vs dark for creating a distinction. I had a quick Google, and https://www.tableau.com/about/blog/2016/4/examining-data-viz-rules-dont-use-red-green-together-53463 was a top result.

There's a couple of points in there that I think are relevant here:
- Colour shouldn't be the

[2020-06-22 23:27] duncandewhurst opened #1285 "Include sheet names in conversion warnings"
The 'duplicate heading' error message doesn't specify which sheets the duplicate headings are in.

The 'you may have a duplicate identifier' error message only specifies one of the sheets the duplicate appears in.

![image](https://user-images.githubusercontent.com/19265814/85344564-274d4380-b544-11ea-9ce0-38a9362aaf5b.png)

Including the sheet names in the warnings would made it easier to trouble

[2020-06-25 15:27] Bjwebb commented on #1285
![](https://github.trello.services/images/mini-trello-icon.png) [Include sheet names in conversion warnings](https://trello.com/c/ChpNqMLy/83-include-sheet-names-in-conversion-warnings)

[2020-06-29 23:32] duncandewhurst opened #1286 "OCDS: Internal server error when definition in extension cannot be dereferenced"
[Example](https://standard.open-contracting.org/review/?source_url=http://public.eprocurement.systems/ocds/tenders/ocds-b3wdp1-MD-1591270250226)

The issue is that there is a [typo](https://github.com/eOCDS-Extensions/eOCDS-addressDetails/blob/master/release-schema.json#L13) in the extension's `release-schema.json` which means a definition cannot be dereferenced.

Can this information be passed ba

[2020-06-30 00:34] duncandewhurst opened #1287 "OCDS: Internal server error when null appears in parties array"
Minimal example to reproduce issue - add `null` to the `parties` array:

[code]

Can this error be handled and reported to the user?

Related to CRM issue [#6128](https://crm.open-contracting.org/issues/6128)

[2020-06-30 00:46] duncandewhurst commented on #1287
![](https://github.trello.services/images/mini-trello-icon.png) [Investigate CoVE errors in Kingfisher Process Sentry](https://trello.com/c/gyTXFIUt/232-investigate-cove-errors-in-kingfisher-process-sentry)

[2020-07-06 10:51] michaelwood commented on #514
This was implemented in flatten-tool with the above copy. https://github.com/OpenDataServices/flatten-tool/commit/019d33aecb9c4129d04132b8698aa95b58a3a482#diff-da34eb2b3d0a6bd6f7ca5fd1d20817f8R571 available in flatten-tool >= v0.10

[2020-07-06 10:51] #514 closed

[2020-07-06 11:29] michaelwood commented on #943
Can't seem to recreate this issue. I tried with supplied example and also created a version of the 360 standard template xlsx and deleted some of the headings.

[2020-07-06 12:23] michaelwood commented on #943
![](https://github.trello.services/images/mini-trello-icon.png) ["list index out of range" error](https://trello.com/c/6O8kenJg/46-list-index-out-of-range-error)

[2020-07-20 09:21] Bjwebb commented on #845
This was deployed.

[2020-07-20 09:21] #845 closed

[2020-07-20 09:24] ColinMaudry commented on #845
https://media.giphy.com/media/MGYY2FIs8VrfW/giphy.gif

[2020-08-03 16:44] robredpath commented on #943
Yeah, I've tried a few combinations and I can't recreate this either.

@KDuerden could you let us know next time you come across this and send us the file (privately, if necessary)?

[2020-08-04 13:04] odscjames commented on #1287
![](https://github.trello.services/images/mini-trello-icon.png) [Internal server error when null appears in parties array](https://trello.com/c/Ys5zqcdl/89-internal-server-error-when-null-appears-in-parties-array)

[2020-08-04 13:41] Bjwebb commented on #896
Changes to the "Records Table" in https://github.com/open-contracting/cove-ocds/pull/43 are now deployed to https://standard.open-contracting.org/review/

[2020-08-11 10:24] robredpath commented on #1186
We did this, but apparently didn't tell anyone. Fixed now.

[2020-08-11 10:24] #1186 closed

[2020-08-11 10:41] robredpath opened #1289 ""list index out of range" error"
![Screenshot 2020-08-11 at 11 38 43](https://user-images.githubusercontent.com/641009/89888045-3b6a0480-dbc7-11ea-93e4-a4376518ec11.png)

Example data to cause the error: [Example 360 conversion template 2019_notworkinginCove.xlsx](https://github.com/OpenDataServices/cove/files/5056408/Example.360.conversion.template.2019_notworkinginCove.xlsx)

https://sentry.io/organizations/open-data-services/i

[2020-08-11 10:41] robredpath commented on #1289
![](https://github.trello.services/images/mini-trello-icon.png) ["list index out of range" error](https://trello.com/c/6O8kenJg/46-list-index-out-of-range-error)

[2020-08-17 15:37] robredpath opened #1290 "360Giving: Provide helpful feedback on Meta tab"
Right now, if you provide a Meta tab with some information missing / broken we don't really tell you - we expect you to work it out from the way that CoVE presents the information back to you.

We should present some helpful feedback, such as identifying which fields haven't been provided if any metadata is present.

[2020-08-17 15:49] michaelwood commented on #1289
Note: worth checking openpyxl version to see if this is an issue that has been fixed upstream

[2020-08-20 09:22] robredpath commented on #1285
Reviewed 2020-08-20:

We think that the "duplicate error" might be easier to fix, whereas the second one will be quite a lot harder.

[2020-08-20 11:40] michaelwood opened #1291 "Company number checks not correct"
Company numbers are more than just [8 numbers] or [two char][6 numbers]. To avoid false positives we should relax the check to make sure it is alpha numeric and 8 long.
List of valid company numbers c/o drkane:
https://gist.github.com/drkane/ef0c41aa19275a6c7cf1f3fff00356e6

Company numbers currently failing example : IP000CUS

[2020-08-20 11:40] michaelwood commented on #1291
![](https://github.trello.services/images/mini-trello-icon.png) [Recipient Org: Company Number column that doesn’t look like a company number](https://trello.com/c/YEbAPf18/76-recipient-org-company-number-column-that-doesnt-look-like-a-company-number)

[2020-08-20 15:42] michaelwood commented on #1289
In this case the error is due to a bug in the file itself, to do with saving the style information in the style XML and the subsequent indexing of the style information. The index it is trying to access is the length of the array, which as it's 0 indexed it is off-by-one.

I've found It is possible to "fix" this by re-saving using an up to date version of libreoffice calc.

There is a proposed fix

[2020-08-20 16:19] #1291 closed

[2020-08-21 11:15] KDuerden opened #1293 "Additional checks page formatting makes it hard to read"
Making a note for future reference, to look at when doing development work on COVE
The formatting of the text is much less readable now it includes the trigger information etc. https://dataquality.threesixtygiving.org/additional_checks

As this is mainly a page for internal use it doesn't need to be pretty but an adjustment to the tables might help make it more useable.

[2020-08-26 13:52] #1287 closed

[2020-08-31 15:54] stevieflow opened #1297 "IATI CoVE: spaces in "blank" cells are converted"
When a cell only contains a space, this is converted by CoVE, and so creates a value in the XML.  This is then rendered as either invalid or an invalid code.

Action - IATI CoVE should strip out these characteristics , on conversion

Action - better guidance for uses / in file validation

[2020-08-31 22:54] duncandewhurst commented on #1253
Noting that this came up again with another publisher, so it would be good to fix.

[2020-09-02 13:39] #887 closed

[2020-09-02 13:39] #535 closed

[2020-09-02 14:12] jpmckinney commented on #1210
Moved to https://github.com/open-contracting/cove-ocds/issues/54

[2020-09-02 14:12] #1210 closed

[2020-09-02 14:14] jpmckinney commented on #1242
Done and deployed per Trello card: https://github.com/open-contracting/cove-ocds/commit/d7a513ba69c5b478acf6a9e853ab170e5ecaac40

[2020-09-02 14:14] #1242 closed

[2020-09-02 14:15] jpmckinney commented on #1180
I'll defer to open-contracting/standard#587 regarding whether to pursue this further.

[2020-09-02 14:15] #1180 closed

[2020-09-02 14:18] jpmckinney commented on #1211
Regarding @yolile's original request, we can maybe add a worked example to the OCDS documentation, as part of a broader discussion of data pipelines for publication (e.g. building on the report about publishers' implementations).

[2020-09-02 14:18] #1211 closed

[2020-09-02 14:20] jpmckinney commented on #1213
I think it's best for the DRT to remain focused on serving publishers. As part of the data registry, we can scope what information to provide to the user about a given source's structural errors (likely very summarized).

[2020-09-02 14:20] #1213 closed

[2020-09-02 14:21] #1212 closed

[2020-09-02 14:50] jpmckinney commented on #1209
Moved

[2020-09-02 14:50] #1209 closed

[2020-09-02 14:52] jpmckinney commented on #1198
Moved

[2020-09-02 14:52] #1198 closed

[2020-09-02 14:56] jpmckinney commented on #894
The new code in lib-cove-ocds doesn't have any comments, so this issue is no longer relevant.

[2020-09-02 14:56] #894 closed

[2020-09-02 14:58] jpmckinney commented on #1195
Moved

[2020-09-02 14:58] #1195 closed

[2020-09-02 15:05] jpmckinney commented on #1042
Updated link for code location: https://github.com/OpenDataServices/lib-cove/blob/b8640ef77a20f139d7a7673677402781162155e5/libcove/lib/common.py#L292

[2020-09-02 15:09] jpmckinney commented on #1042
Moved

[2020-09-02 15:09] #1042 closed

[2020-09-02 15:13] jpmckinney commented on #896
From CRM-5858, the data URL (releases) is https://www.data.gouv.fr/fr/datasets/r/68bd2001-3420-4d94-bc49-c90878df322c Submitting that URL now generates a  HTML file. It takes mins to generate, but that's a separate issue.

For this issue, the records template still prints all `records_aggregates.unique_ocids`, so renaming the issue to address that last part.

[2020-09-02 15:18] jpmckinney commented on #896
Moved

[2020-09-02 15:18] #896 closed

[2020-09-02 15:32] jpmckinney commented on #1245
Moved

[2020-09-02 15:32] #1245 closed

[2020-09-02 15:36] jpmckinney commented on #1243
Last saw this July 21, 2020 in Sentry. Tried with a URL that caused it earlier: https://cove.live3.cove.opencontracting.uk0.bigv.io/review/data/7f54c690-63e4-4f75-a6d8-6829bd45f006

Assuming fixed.

[2020-09-02 15:36] #1243 closed

[2020-09-02 15:38] jpmckinney commented on #1196
Moved

[2020-09-02 15:38] #1196 closed

[2020-09-02 15:40] jpmckinney commented on #1105
Deferring to OpenDataServices/flatten-tool#289. Should be very simple once that's done.

[2020-09-02 15:40] #1105 closed

[2020-09-02 16:01] jpmckinney commented on #1108
Moved

[2020-09-02 16:01] #1108 closed

[2020-09-02 16:03] jpmckinney commented on #1197
Moved

[2020-09-02 16:48] jpmckinney commented on #1202
The server keeps two weeks of `/var/log/apache2/other_vhosts_access.log*` files.

[code]

Non-bot requests over the same period:

[code]

(User agents can be reviewed by replacing `wc` with `cut -d'"' -f 6 | sort | uniq`.)

So, in general, people do not click on downloads much, so I think it's safe to conclude that the DRT is not much used as a conversion tool.

[2020-09-02 16:48] #1202 closed

[2020-09-02 16:50] jpmckinney commented on #1054
Moved

[2020-09-02 16:50] #1054 closed

[2020-09-02 20:41] duncandewhurst commented on #1213
The DRT is recommended as a tool for data users on https://www.open-contracting.org/data/data-use/#tools as well as in the places I mentioned above. Is there a plan to replace those mentions with the registry, once ready?

[2020-09-02 21:47] jpmckinney commented on #1213
Can you cite the specific reference? The only ones I find relate to publishers. The page mixes a bit of publisher vs user content, which needs tidying. I'm not sure what places above you mean.

[2020-09-02 22:13] duncandewhurst commented on #1213
It is listed in the tools gallery table under 'review', which I'd understood to be showing the tools available to support the different stages of using OCDS data.

![image](https://user-images.githubusercontent.com/19265814/92041907-3adf1b00-edcd-11ea-9334-8fe0daa6cc20.png)

Since the page is titled 'Using open contracting data' and the tools section follows the 'Tools and guidance for data use' h

[2020-09-02 22:36] jpmckinney commented on #1213
Yes, they will be replaced. Quite a lot of content will have to be updated when the registry is ready. I think it's a bit too early to catalog all the places that will need updates. The current mentions of the DRT are fine, as some users can find it helpful to see if there are structural errors, though the interface is not designed to support that use.

That said, the DRT cannot analyze complete d

[2020-09-02 22:37] jpmckinney commented on #1213
For content changes to the data use page, please open a CRM issue for Andie's attention.

[2020-09-03 09:51] rhiaro commented on #1287
This was fixed in lib-cove 0.18.0 and OCDS Cove with the new version has been deployed.

[2020-09-03 16:20] rhiaro commented on #1285
@duncandewhurst do you have a sample of the data that caused this error to hand?

[2020-09-04 05:48] duncandewhurst commented on #1285
[Here](https://docs.google.com/spreadsheets/d/1cFAp8w_L-Vm2sPs8nt-2NKXMxw6IJe3piwb_1CkWMR8/export?format=xlsx) you go. In this example, the other sheet which should appear in the error is 'Input: Contracting processes'

[2020-09-09 12:45] KDuerden commented on #1290
This has just been pointed out to me by publisher, seems sensible to add here
**The file was issued on** is blank on all data with meta tab I have tested - ([use this file for an example](https://www.dropbox.com/s/kwyobiawsppwauv/Mercers%20Company_360_data_FINAL.xlsx?dl=1)). If this is something that's not easy to display in current iteration of CoVE it seems sensible to remove the text for now.

[2020-09-11 08:37] BibianaC commented on #1293
![](https://github.trello.services/images/mini-trello-icon.png) [Additional checks formatting](https://trello.com/c/NT1WecpX/111-additional-checks-formatting)

[2020-09-11 08:49] BibianaC commented on #1290
![](https://github.trello.services/images/mini-trello-icon.png) [Provide helpful feedback on Meta tab](https://trello.com/c/UPF85aL2/112-provide-helpful-feedback-on-meta-tab)

[2020-09-11 08:59] BibianaC commented on #1225
@Bjwebb is this done?

[2020-09-11 10:25] Bjwebb commented on #1225
Yes.

[2020-09-11 10:25] #1225 closed

[2020-09-11 13:08] BibianaC commented on #1135
![](https://github.trello.services/images/mini-trello-icon.png) [Duplicate column headers lead to incorrect cell source map](https://trello.com/c/UQwEhvQ4/114-duplicate-column-headers-lead-to-incorrect-cell-source-map)

[2020-09-11 13:10] BibianaC commented on #1131
@Bjwebb is this finished?

[2020-09-11 13:16] BibianaC commented on #1130
@mrshll1001 was this not done?

[2020-09-11 13:16] #1122 closed

[2020-09-11 13:17] #1118 closed

[2020-09-11 13:18] #1120 closed

[2020-09-11 13:23] BibianaC commented on #1087
@odscjames @rhiaro can this issue be closed?

[2020-09-11 13:25] BibianaC commented on #1071
@odscjames Can this issue be closed?

[2020-09-11 13:26] BibianaC commented on #1063
@odscjames is this issue still in progress?

[2020-09-11 13:28] BibianaC commented on #1062
@rhiaro was this reviewed and deployed? can the issue be closed?

[2020-09-11 13:32] BibianaC commented on #934
@robredpath is this still an issue?

[2020-09-11 13:35] BibianaC commented on #818
@Bjwebb I guess this is done?

[2020-09-11 14:58] BibianaC commented on #779
![](https://github.trello.services/images/mini-trello-icon.png) [Logo to link to homepage](https://trello.com/c/LfVjKcsr/115-logo-to-link-to-homepage)

[2020-09-11 15:01] BibianaC commented on #768
@Bjwebb can this issue be closed?

[2020-09-11 15:11] #522 closed

[2020-09-11 15:20] #84 closed

[2020-09-15 13:03] Bjwebb commented on #768
Yes

[2020-09-15 13:03] #768 closed

[2020-09-15 13:07] Bjwebb commented on #818
Yes

[2020-09-15 13:07] #818 closed

[2020-09-15 15:27] KDuerden opened #1298 "Quality check email triggers for field intended for emails"
Quality checks includes a look for text that might be an email.

For files which include these details deliberately - eg Funding Org:Email or Recipient Org:Email could this feedback be suppressed?
![image](https://user-images.githubusercontent.com/20462640/93231001-3a049c80-f770-11ea-994e-f64e72267adc.png)

[2020-09-16 08:54] BibianaC commented on #1298
![](https://github.trello.services/images/mini-trello-icon.png) [Quality check email triggers for field intended for emails](https://trello.com/c/nY3OYbqy/116-quality-check-email-triggers-for-field-intended-for-emails)

[2020-09-23 15:56] robredpath commented on #263
The original requests in this issue have been moved to https://github.com/open-contracting/cove-ocds/issues/68 and https://github.com/open-contracting/cove-ocds/issues/69 (as they relate to two separate areas of the interface)

@jpmckinney 's comment has been moved to https://github.com/open-contracting/cove-ocds/issues/70

[2020-09-23 15:56] #263 closed

[2020-09-23 16:01] robredpath commented on #118
For OCDS, this has been moved to https://github.com/open-contracting/cove-ocds/issues/70

[2020-09-23 16:04] robredpath commented on #229
It looks like we do this, now.

[2020-09-23 16:04] #229 closed

[2020-09-23 16:05] robredpath commented on #248
Whoosh hasn't been updated since 2016

[2020-09-23 16:42] robredpath commented on #402
Moved to https://github.com/open-contracting/cove-ocds/issues/74

[2020-09-23 16:42] #402 closed

[2020-09-23 16:42] robredpath commented on #679
Moved to https://github.com/open-contracting/cove-ocds/issues/74

[2020-09-23 16:42] #679 closed

[2020-09-23 16:43] #418 closed

[2020-09-23 16:47] #493 closed

[2020-09-23 16:48] #510 closed

[2020-09-25 02:24] duncandewhurst commented on #1188
Yep, looks good.

[2020-09-25 02:24] #1188 closed

[2020-09-29 13:58] Bjwebb commented on #1285
We [split this into 2 trello cards](https://github.com/OpenDataServices/cove/issues/1285#issuecomment-649621748), 1 for the [duplicate header warnings](https://trello.com/c/IiSLn71Z/92-include-sheet-names-in-conversion-warnings-for-duplicate-headings), and 1 for the [merge failure](https://trello.com/c/ChpNqMLy/83-include-sheet-names-in-conversion-warnings-when-an-ocid-appears-on-multiple-sheets).

[2020-09-29 16:52] stevieflow opened #1299 "IATI CoVE - #hashcomments still needs to be included"
It seems that the hashcomments setting still has to be explicitly referenced in the Meta sheet of an IATI workbook - is that correct?

I know that we bundled this in as a default for 360 CoVE (and maybe OCDS @duncandewhurst?) as the feature is a good utility that (as per our discussion at the time) that didnt need an explicit call.

Is this a setting within CoVE, that can be applied to the IATI in

[2020-09-29 17:37] duncandewhurst commented on #1299
As far as I'm aware we need to set it in the Meta sheet for OCDS CoVE

[2020-09-29 17:54] stevieflow commented on #1299
Thanks @duncandewhurst

Hmmm - maybe I dreamt it about 360!  @KDuerden can you recall?

[2020-09-29 18:21] duncandewhurst commented on #1285
Looks good!

[2020-09-30 10:49] Bjwebb commented on #1285
That fix is live now.

[2020-09-30 11:12] KDuerden commented on #1299
@stevieflow I know you have included hashComment in a meta tab to hash out data from other tabs. However Meta tab works in 360 Cove without needing to use hashComment - all current examples in our data are hash-less!

[2020-09-30 16:40] Bjwebb commented on #1253
@mrshll1001 @duncandewhurst How does this look for the error if the combination is non-unqiue? I'm looking especially for feedback on the Examples column, is seperating with a comma sufficiently obvious as to what's going on?

![Screenshot from 2020-09-30 17-35-52](https://user-images.githubusercontent.com/634/94714048-7d9c0080-0343-11eb-9a50-bac139bddbe8.png)

[2020-09-30 19:51] duncandewhurst commented on #1253
Shouldn't this error be reported under 'Conformance (rules)' rather than Structural Errors?

We could then have a more verbose error, e.g.

[2020-10-01 14:14] Bjwebb commented on #1253
"Structural Errors" is what we call errors that have come out of schema validation, and the unique IDs check happens as part of schema validation.

Strictly speaking the schema doesn't describe the ID uniqueness, but it does say that each whole release must be unique. However, checking this for a lot of laregish releases is computationally expensive. Therefore, we override this particular aspect o

[2020-10-02 01:27] duncandewhurst commented on #1253
Ah, I see. I thought it would be an additional check since it involves looking at two fields.

I think this error benefits from a more verbose explanation in the CoVE front-end because of the extra complexity, so I'd favour moving it to conformance errors.

For the CLI and Kingfisher, since the audience for those is mostly helpdesk analysts I think it's fine to keep it as a structural error with t

[2020-10-02 14:41] stevieflow opened #1301 "IATI - refresh of codelist values needed?"
@Bjwebb @kindly @BibianaC  I think our store of IATI codelists might be out of date/synch - there's Non Embedded codelist value errors, when the codes are valid (@siwhitehouse has an example)

This might be a better source of data from which to pull the codelist - https://codelists.codeforiati.org/ - but I'm not sure what the underlying process currently is...

[2020-10-02 14:51] jpmckinney commented on #1253
I have no strong feeling. It occurs rarely, so it's not terrible to leave it as-is, but I agree that it'd be clearer to have a longer explanation.

[2020-10-02 15:05] stevieflow commented on #1299
Thanks @KDuerden

But I think you do need the hash control, if you include a sheet or comment you want to exclude from conversion?  The examples you cite don't have this, do they?  cc/ @mrshll1001

[2020-10-02 15:20] KDuerden commented on #1299
I don't think have anyone doing that in live data, but yes, anything that isn't 360Giving Data Standard data or in the Meta tab needs to be hashed or the data will be invalid.

[2020-10-05 10:59] Bjwebb commented on #1301
We have [a command to keep these in sync](https://github.com/OpenDataServices/cove/blob/master/get_iati_non_embedded_codelists.py), but I don't think its run automatically, meaning they're out of date.

[2020-10-06 14:54] stevieflow commented on #1301
Thanks

Please can we run it , to get back into synch, in the meantime?

[2020-10-07 09:15] BibianaC commented on #779
@morchickit would the link go to the main [page](https://www.threesixtygiving.org/)?

[2020-10-07 09:52] morchickit commented on #779
Indeed!

[2020-10-07 09:52] morchickit commented on #779
but @KDuerden - can you confirm?

[2020-10-07 10:02] #371 closed

[2020-10-07 10:02] robredpath commented on #371
I now have a much faster computer.

[2020-10-07 10:03] robredpath commented on #439
We've largely dealt with this through relationships and bigger servers.

[2020-10-07 10:08] #521 closed

[2020-10-07 10:09] robredpath commented on #581
@Bjwebb is this still relevant? I'm looking for things we've recorded in ODSC repos to move over to OCDS

[2020-10-07 10:30] robredpath commented on #620
Moved to https://github.com/open-contracting/cove-ocds/issues/92

[2020-10-07 10:30] #620 closed

[2020-10-07 10:42] robredpath commented on #657
Moved to https://github.com/open-contracting/cove-ocds/issues/93

[2020-10-07 10:42] #657 closed

[2020-10-07 10:43] KDuerden commented on #779
Yes, that sounds great. thank you!

[2020-10-07 10:49] BibianaC commented on #1298
@KDuerden what file did you check?

[2020-10-07 11:03] KDuerden commented on #1298
It was a unpublished file, but this one has them too: https://localtrust.org.uk/wp-content/uploads/2018/10/2018-08-16-Big-Local-Trust-360-Giving-2010.2018.xlsx

Current results: https://dataquality.threesixtygiving.org/data/fc5ac075-54eb-4bb2-8bc5-ac9ff9f348d3

[2020-10-07 15:40] #692 closed

[2020-10-08 10:17] kindly commented on #1301
This is merged and deployed.  @stevieflow could you check to see if the results (code-list values) are what you expect.

[2020-10-08 11:49] stevieflow commented on #1301
Thanks @kindly

@siwhitehouse want to check this via the SDG vocab you observed?

[2020-10-09 11:07] BibianaC commented on #1290
![](https://github.trello.services/images/mini-trello-icon.png) [Metadata "The file was issued on"](https://trello.com/c/RmUnoxwy/119-metadata-the-file-was-issued-on)

[2020-10-09 14:27] Bjwebb commented on #1131
Yes.

[2020-10-09 14:27] #1131 closed

[2020-10-09 14:33] BibianaC commented on #1293
@KDuerden is this change ok?

<img width="1203" alt="Screen Shot 2020-10-09 at 15 31 07" src="https://user-images.githubusercontent.com/9610927/95595917-a3608e00-0a44-11eb-9eb3-38f8b47cf9a7.png">

[2020-10-09 15:19] KDuerden commented on #1293
That looks great - big improvement thank you!

[2020-10-14 08:15] robredpath commented on #1234
@Bjwebb is this fixed now?

[2020-10-14 10:49] BibianaC commented on #1298
@KDuerden The issue has been fixed and deployed.

[2020-10-14 10:49] #1298 closed

[2020-10-14 10:49] BibianaC commented on #779
@KDuerden @morchickit @stevieflow this has been done and deployed.

[2020-10-14 10:49] #779 closed

[2020-10-14 10:50] BibianaC commented on #1290
@KDuerden the issue about "The file was issued on" is now fixed and deployed.

[2020-10-14 10:51] BibianaC commented on #1293
@KDuerden this has been now done and deployed.

[2020-10-14 10:51] #1293 closed

[2020-10-14 11:27] KDuerden commented on #1290
Thanks @BibianaC
Is this intended to show the issued date if available and not if it isn't, or has this update removed the issued date from showing in CoVE entirely?

[2020-10-14 12:27] BibianaC commented on #1290
@KDuerden it only shows it if there is one available.

[2020-10-14 12:55] BibianaC commented on #1094
@KDuerden what would be the "explanatory text" you would like to add?

[2020-10-14 14:27] robredpath commented on #1063
Closing as lib-cove-ocds is....basically this.

[2020-10-14 14:27] #1063 closed

[2020-10-14 14:27] #1062 closed

[2020-10-14 14:36] robredpath commented on #997
This isn't an issue any more

[2020-10-14 14:36] #997 closed

[2020-10-14 14:38] #914 closed

[2020-10-14 14:38] #901 closed

[2020-10-14 14:38] #863 closed

[2020-10-14 14:41] #782 closed

[2020-10-14 14:48] #786 closed

[2020-10-14 14:49] #1192 closed

[2020-10-15 07:28] KDuerden commented on #1290
I have tested with files with meta tab and issued date but it doesn't appear.
Eg this [file](https://docs.google.com/spreadsheets/d/1ocHsmXqFY57EQvMo8736pQX4uflt-MT7cOwDvkH62NI/edit#gid=1949133049)
The [results in CoVE](https://dataquality.threesixtygiving.org/data/5a0b7c95-c2a0-434f-ae22-3cb4c64052bd).

[2020-10-15 07:39] BibianaC commented on #1290
@KDuerden thanks for the example, I will check it.

[2020-10-15 13:32] BibianaC commented on #1290
@KDuerden I have found that there were many information in the `metadata` tab that was not being displayed. I have fixed it and now the results look like this:

<img width="981" alt="Screen Shot 2020-10-15 at 14 29 47" src="https://user-images.githubusercontent.com/9610927/96134014-09d92680-0ef3-11eb-86fd-85b829200a4f.png">

(The fix is not deployed)

[2020-10-15 13:39] KDuerden commented on #1290
That looks great, really helpful. Thank you.

[2020-10-16 13:33] BibianaC commented on #1290
@KDuerden The fix is now deployed.

[2020-10-16 14:25] KDuerden commented on #1290
Brilliant!

[2020-10-19 15:26] stevieflow commented on #1301
I tested some data with an SDG vocabulary - and this pass without a fail warning

[2020-10-19 15:44] #1158 closed

[2020-10-19 15:45] stevieflow commented on #1252
Done via https://github.com/OpenDataServices/cove/issues/1301

[2020-10-19 15:45] #1252 closed

[2020-10-19 15:56] stevieflow opened #1308 "IATI : Relax/remove/reposition regex rule on org identifiers"
There's some rules around the format of the org identifiers in IATI CoVE that look for a specific format

These can be quite noisy / verbose for any activity, and not that useful

Rather, it'd be good to park or remove this set of rules - or even move this analysis to it's own "section" in the test results.  It'd then be good to check for org-id prefixes, and/or even exact matches via the source h

[2020-10-19 15:58] stevieflow opened #1309 "[IATI] Offer function to sort/merge results/indicators"
Incorporate the utility in https://github.com/OpenDataServices/iati-utils/blob/master/merge_indicator.py for users to further merge their results/indicators data

[2020-10-19 16:00] stevieflow opened #1310 "[IATI] insert namespace to provide a UID for each result and indicator"
On conversion insert a namespaced UID into each result and indicator.

In doing this, we will then be able to flatten these elements out

This may be applied as a setting / switch for the user - switching it on (or off) as deflaut - TBD

[2020-10-19 16:05] stevieflow commented on #753
I think the answer might be via the work of @andylolz and co in https://codelists.codeforiati.org/ ..?

[2020-10-19 16:13] stevieflow opened #1311 "IATI CoVE - next steps, after initial test"
After initial test of the data, we present the schema, ruleset and codelist results

There may then be a set of functions users could access , for further enhancements:

- convert to spreadsheet (if XML is presented) - this function already exists
- consolidate results (see https://github.com/OpenDataServices/cove/issues/1309)
- generate a d-portal: https://github.com/OpenDataServices/cove/issues/

[2020-10-19 16:14] stevieflow commented on #1059
+1 to this

It can be a button to generate the preview (in a new window) - rather than be baked into the workflow.

[2020-10-19 16:22] stevieflow commented on #1224
I created https://github.com/OpenDataServices/cove/issues/1310 as that *specifically* looks at result/indicator data

However, if this logic were applied to all relevant elements, then great

In terms of the namespace , then this would be :

xmlns:cove="https://iati.cove.opendataservices.coop/"

in

`<iati-activities generated-datetime="2020-09-16T14:57:49.654Z" version="2.03" xmlns:cove="https://

[2020-10-19 16:41] andylolz commented on #753
Simon Willison does this sort of thing using github actions:
https://simonwillison.net/2020/Oct/9/git-scraping/

I think we intended to blog about the technical details of [codelists](https://codelists.codeforiati.org), but we didn’t get around to it. Essentially there are a bunch of scripts [here](https://github.com/codeforIATI/codelist-updater) that run daily on travis, and pull requests get cre

[2020-10-21 09:32] stevieflow commented on #732
@Bjwebb @robredpath I think this is worth a review.  I note that the Meta tab is where we store the attributes for the root element (iati-activities / iati-organisations) , which is slightly counter-intuiative

Elsewhere, in terms of the controls that can be set on Metatab, are there any developments to isolated these away from data for the standard?

[2020-10-23 11:01] rorads commented on #1310
Hello!

For a little extra context, this is how I've worked around this issue with the existing behaviour: https://docs.google.com/spreadsheets/d/1ZMxFME4krHMxrqpFJS68ecXIppmwAuYYHA4ZP7V4zdE/edit?usp=sharing

This adds an `<iati-identifier>` as a child element for each result, with a unique identifier placed there for each result. This then allows CoVE to use the same `id` merging logic from ocds

[2020-10-26 12:09] KDuerden commented on #1094
Thanks @BibianaC
Is this live in CoVE at the moment? I haven't been able to get this to trigger with test data with non-unique IDs, so I'm not exactly sure what situation/error this is describing. I'll have a go at drafting some text once I have a better idea what we need to explain to users.

[2020-10-28 09:10] BibianaC commented on #1094
@KDuerden I thought so. @odscjames is it live?

[2020-10-29 10:59] Bjwebb commented on #1283
Looks like you've added the `text/html` header, and I've [just merged](https://github.com/OpenDataServices/cove/pull/1312) cove's  support of that, so this works now https://iati.cove.opendataservices.coop/?source_url=http://d-portal.org/q.xml?aid=XM-OCHA-CBPF-AFG-19/3481/RA4/APC/NGO/14847

[2020-10-29 10:59] #1283 closed

[2020-10-29 12:39] Bjwebb commented on #581
We now have some docstrings https://github.com/OpenDataServices/lib-cove/blob/master/libcove/lib/common.py#L320 https://github.com/OpenDataServices/lib-cove/blob/master/libcove/lib/common.py#L926

[2020-10-29 12:39] #581 closed

[2020-10-30 12:16] BibianaC commented on #1153
@duncandewhurst @odscjames the footer is now updated for the main cove page, 360 and IATI.

OCDS is missing. Change should be done in here:
https://github.com/open-contracting/cove-ocds/blob/master/cove_ocds/templates/cove_ocds/base.html#L151
https://github.com/open-contracting/cove-oc4ids/blob/master/cove_oc4ids/templates/cove_oc4ids/base.html#L138

I have not done the changes because I don't kno

[2020-11-04 10:36] Bjwebb commented on #1094
Looks like this only appears for JSON files https://dataquality.threesixtygiving.org/data/ee0ef527-7a32-47aa-8e62-0ef653a7ea23
(Because the spreadsheet conversion has its own way of dealing with duplicate IDs).

[2020-11-11 15:01] ghost opened #1316 "Docs broken on Read The Docs"
The Markdown to RST thing seems to be broken :-(

[2020-11-11 15:09] ghost commented on #1316
We seem to need to change conf.py for Sphinx 1.4? https://github.com/readthedocs/recommonmark

[2020-11-13 09:45] #1316 closed, assigned to nobody

[2020-12-02 09:30] stevieflow commented on #1224
When looking at how we can nest on conversion _to_ XML @Bjwebb (link to PR?) has enabled support of a cove:id extension.  Sample file (looking at results): https://docs.google.com/spreadsheets/d/1ZO1GgxzpRd0zBGV7iLd_saUIUYd_d7xyPySlv8zwdGQ/edit#gid=119826292

I guess we could look at inserting such an ID into XML, on demand?

Note - this does also alter the structure of spreadsheets, as activity-i

[2020-12-16 10:09] Bjwebb commented on #1224
![](https://github.trello.services/images/mini-trello-icon.png) [Flatten results with IDs](https://trello.com/c/SaHEgwL1/16-flatten-results-with-ids)

[2020-12-18 14:19] Bjwebb commented on #1299
The hashComment setting should need to be included for OCDS, but not IATI or 360Giving. I've checked, and this seems to be the case. It should be easy to turn on/off.

[2020-12-23 15:47] stevieflow commented on #1299
Thanks @Bjwebb - have tested, and can confirm this is the case with IATI

[2021-02-09 20:52] stevieflow opened #1323 "[IATI] link to Activity standard google doc is wrong"
On https://iati.cove.opendataservices.coop/

The link

Activity file; [ google doc ]

is to

https://docs.google.com/spreadsheets/d/1V8Cs4rivr6HDiDsne2bVECJiAXHcHBDiy_JEU9oPgRQ//edit?usp=sharing

This works for anyone logged into google drive (or perhaps the open data services drive), but does not work otherwise

The link should be

https://docs.google.com/spreadsheets/d/1V8Cs4rivr6HDiDsne2bVECJiA

[2021-02-10 11:49] #1323 closed, assigned to Bjwebb, BibianaC

[2021-02-18 14:15] notshi opened #1327 "IATI CoVE - Suggestion (xml upload --> portalaid / CoVE simultaneously )"
When an xml is uploaded to CoVE, it would be great if this data is also uploaded to portald simultaneously.

Starting the import earlier would reduce the waiting time when you click the 'd-portal preview' button.

[2021-02-23 12:52] Bjwebb commented on #1327
For what proportion of files are we expecting to use the d-portal preview button? I could imagine there being a lot of data uploaded to check schema validation etc., with the d-portal preview only used if it validates. I don't know how much this is likely to hammer your server compared to only explicit click throughs.

[2021-02-23 13:45] notshi commented on #1327
Unless you are looking at uploading a million activities everyday, it will be less stress than the current d-portal server.

Hope that puts things into perspective. We'll see how it goes and adjust accordingly; ie. observations of slowed access, etc.

[2021-02-23 14:39] Bjwebb commented on #1327
![](https://github.trello.services/images/mini-trello-icon.png) [IATI CoVE - Suggestion (xml upload --> portalaid / CoVE simultaneously )](https://trello.com/c/RsAtoPQg/19-iati-cove-suggestion-xml-upload-portalaid-cove-simultaneously)

[2021-02-25 07:47] stevieflow commented on #1297
@robredpath is this similar to the issue you identified, when a cell is empty (or an expected value), and not then identified in test results?

In this ticket, I refer to instances where the value is  not blank but a typed " "

[2021-02-25 09:49] robredpath commented on #1297
@stevieflow - this is quite a different case, because in this case, there is data (even if it's 'just' whitespace) - and so the fact that it gets converted means that there's a value in the source map that we can use to locate the error.

My instinct is to say that we should get IATI CoVE to look for, and alert on, this specific case rather than stripping out the whitespace, because that should ac

[2021-02-25 09:59] stevieflow commented on #1297
Understood / agreed

That sounds great, thanks @robredpath

I know we discussed the NULL value issue in context of 360 CoVE, so would assume this could be a generic action?

[2021-02-25 11:05] robredpath commented on #1297
@stevieflow yeah, anything we do for IATI could also be relevant to 360 CoVE, although this has the feel of something that might be a bit tricky to do in a universal way. Let's do it for IATI and see!

I'm starting to feel like we should have a to-do/wishlist for IATI CoVE work from April onwards. Do you want to start collecting things like this, maybe into the IATI reporting doc? Or somewhere els

[2021-02-25 12:08] stevieflow commented on #1297
Thanks @robredpath

I think I mean: we saw this week an issue with some 360 data, whereby a NULL field was reported, but not identified in the test results

There seems to be the exact same issue with IATI

Could we therefore get this addressed across the board

(and yes, appreciate this ticket was originally about there being whitespace

[2021-02-25 18:22] robredpath commented on #1297
@stevieflow the challenge might be if it's something that we need to do at the XML layer - in which case we'll need to re-do it for the JSON-based standards. Hopefully, we can fix it at a layer of abstraction up - but I don't want to promise that!

[2021-02-26 17:36] #1299 closed

[2021-02-26 17:37] stevieflow opened #1328 "IATI - d-preview link needs changing"
to http://d-preview.codeforiati.org/

[2021-02-26 17:58] Bjwebb commented on #1328
I've updated this on the GitHub PR, I'll push it to the dev copy on Tuesday morning for you to check.

[2021-03-02 10:05] Bjwebb commented on #1328
This has been changed now on dev https://github.com/OpenDataServices/cove/pull/1329

[2021-03-02 10:05] #1328 closed, assigned to Bjwebb

[2021-03-02 10:26] stevieflow opened #1330 "[IATI] d-preview button - add text / change button"
Please change the button text to:

- Generate a d-preview

Above this, please add the text:

- Generate a private d-preview site with the IATI xml.  For preview purposes only. Data will not be uploaded to the main live d-portal website.

[2021-03-02 10:57] stevieflow opened #1331 "sample links for conversion files on IATI xml are incorrect"
On

https://iati.cove.opendataservices.coop/

The open public google spreadsheet is

https://docs.google.com/spreadsheets/d/1V8Cs4rivr6HDiDsne2bVECJiAXHcHBDiy_JEU9oPgRQ/edit?usp=sharing

Yet, when we provide the link to convert to XML, we have this link:

https://iati.cove.opendataservices.coop/?source_url=https://docs.google.com/spreadsheets/d/1WkCin68arZkAIhjxmKkml0MAskLcw9mkHctNmB_gH2I/export?f

[2021-03-02 12:03] stevieflow opened #1332 "Add monitoring for d-preview links"
Add to /stats

[2021-03-02 13:17] Bjwebb commented on #1330
![Screenshot from 2021-03-02 13-17-13](https://user-images.githubusercontent.com/634/109654037-a1b17700-7b59-11eb-810e-74e25af294ae.png)

[2021-03-02 13:56] Bjwebb commented on #1331
Live now https://iati.cove.opendataservices.coop/

[2021-03-02 13:56] #1331 closed, assigned to Bjwebb, BibianaC

[2021-03-02 13:56] Bjwebb commented on #1330
Live now https://iati.cove.opendataservices.coop/

[2021-03-02 13:56] #1330 closed, assigned to Bjwebb

[2021-03-26 16:21] #1055 closed

[2021-03-31 09:48] robredpath opened #1335 "Check for HTML in description in additional checks"

[2021-04-21 16:51] stevieflow opened #1339 "[IATI] activity-identifier test/check"
@kindly @Bjwebb this is something I've posted as an idea on Code4IATI: https://github.com/codeforIATI/iati-ideas/issues/37

If it's possible to query iati-identifier via the Datastore API, then perhaps this test could be something we could incorporate into IATI CoVE?

[2021-04-28 13:28] stevieflow commented on #1339
@andylolz has worked wonders on this via https://github.com/codeforIATI/activity-id-checker

I talked with @kindly about how we could integrate such a check into CoVE.  It could be that we pull in the flat list of identifiers and undertake a *kind of* codelist check on this list (in the relevant elements in any IATI XML).

[2021-05-13 09:19] siemvaessen opened #1344 "Requires io badge broken"
Requires io badge broken from the Main Read me and the link leads me to a place where I have to sign into requires,io

https://requires.io/auth/login/?next=/github/OpenDataServices/cove/requirements/

[2021-05-14 09:31] Bjwebb commented on #1344
I've removed the badge, as we don't use requires.io any more, and use GitHub's security alerts instead.

[2021-05-14 09:31] #1344 closed, assigned to nobody

[2021-05-14 15:47] stevieflow commented on #646
![](https://github.trello.services/images/mini-trello-icon.png) [Working down post new design GrantNav issues](https://trello.com/c/Yz3uiR88/147-working-down-post-new-design-grantnav-issues)

[2021-05-26 12:15] BibianaC commented on #1335
![](https://github.trello.services/images/mini-trello-icon.png) [Check for HTML in description in additional checks](https://trello.com/c/Bjkv393e/166-check-for-html-in-description-in-additional-checks)

[2021-06-24 08:36] siemvaessen opened #1350 "[IATI] xls template use on Google Sheets (remote sheets)"
More of a question than an issue, but I am wondering if any work was done on using a single Google Sheet with tabs (like the current xls template. but then as a Google Sheet) rather than an offline xls file?

We found this template in your guidance which references this google file template https://docs.google.com/spreadsheets/d/1V8Cs4rivr6HDiDsne2bVECJiAXHcHBDiy_JEU9oPgRQ/edit but that file is:

[2021-06-24 08:42] siemvaessen opened #1351 "[IATI] not all fields available in IATI cove xls template?"
Just a quick check to understand if I am looking at the correct xls template at [iati cove](https://iati.cove.opendataservices.coop/) but not able to see any results fields?

[2021-06-24 08:47] siemvaessen commented on #1351
Or is #1309 the missing link that would provide that option?

[2021-06-24 14:26] Bjwebb commented on #1350
This is weird, it seems to be reachable by our CoVE instance, and by a private browsing window on my machine, but not by curl on the commandline. What software have you tried to access it with?

For me, it validates according to our CoVE instance. What are you using to test if it's valid?

![Screenshot from 2021-06-24 15-24-32](https://user-images.githubusercontent.com/634/123280062-5bb16200-d500-

[2021-06-25 13:36] Bjwebb commented on #1351
I've done some work to support results fields, but at the moment it requires adding an extra column to all sheets (that duplicates all the IATI identifiers, this can be done with a formula), and adding some extra information to the Meta tab. Here's an example: https://docs.google.com/spreadsheets/d/1ZO1GgxzpRd0zBGV7iLd_saUIUYd_d7xyPySlv8zwdGQ/edit#gid=119826292

[2021-06-28 14:13] siemvaessen commented on #1350
Apologies @Bjwebb for some reason I had a very strange Browser session, as I retested and seemed to work.

[2021-06-28 14:13] #1350 closed, assigned to nobody

[2021-06-28 14:19] siemvaessen commented on #1351
Thanks @Bjwebb for clarifying and great to hear you've made a start. Is there anything that we may contribute to in order to expedite this and/or what is your current ETA on implementation? Just to get an idea on our side.

[2021-07-06 12:59] stevieflow commented on #1351
Thanks @siemvaessen

I think this is two questions / things:

1 - a template that brings in ALL the possible IATI fields (we dont have results in the current templates, but nor also stuff like planned disbursements or crs-add etc!).  There is an All Headers file here, which I've often used as a basis for developing new sheets:
https://docs.google.com/spreadsheets/d/1HK9VDwm3seYInho7ycFUSsUGRm-bpBh

[2021-07-19 09:23] siemvaessen commented on #1351
Thanks @stevieflow for the ALL HEADER file. I was unaware that existed / neglected to fully read the readTheDocs part.. Will assess and review soon.

[2021-09-01 09:47] lucasfog1 opened #1354 "COVID-19 DAC 5 Digit Sector code flagged as invalid"
Hello,

The new sector code for "COVID-19 Control" (12264) is being flagged as invalid by IATI Cove. Not sure if this is the correct place to report this.

![image](https://user-images.githubusercontent.com/66275247/131650187-53b6adc2-24d1-4786-ac6f-039f80e08bdf.png)

Many thanks

Lucas

[2021-09-01 16:14] Bjwebb commented on #1354
This is the best place to report this, thanks.

At the moment we don't pull in the new sector codes automatically. I will run the script to do this, and then put that change live over the next couple of days. I'll let you know once it's fixed.

[2021-09-03 09:48] Bjwebb commented on #1354
This should be fixed now.

[2021-09-03 09:48] #1354 closed, assigned to nobody

[2021-09-07 07:24] stevieflow commented on #1354
Thanks @lucasfog1 for letting us know

[2021-09-07 13:41] stevieflow opened #1356 "[IATI] Ruleset errors - rollup results (as per schema errors)"
With some files there are lots of ruleset errors - eg:

https://iati.cove.opendataservices.coop/data/da045d50-537c-4d50-88e6-c382a962c4ae

(testing file https://ec.europa.eu/international-partnerships/assets/iati/XI-IATI-EC_NEAR_C_PS.xml)

It's quite difficult to parse the results of this , given that *all* the issues are presented at once.

It would be useful to show the "first 5" on screen (as w

[2021-09-17 09:01] #1094 closed

[2021-09-21 14:34] stevieflow opened #1359 "[IATI] Org ID checks - when no org-id ref are found"
This file is interesting:

https://iati.fcdo.gov.uk/iati_files/converted_files/bbc-world-service-oda-data.xml

Here. there's two participating-org

[code]

The CoVE results are: https://iati.cove.opendataservices.coop/data/4257a6d8-5cb6-4578-a83f-c84d2f557818 - but it's a blank box:

![IATI-CoVE (4)](https://user-images.githubusercontent.com/1209944/134190815-07d0b84b-9b43-4ea0-b7cb-54660c1f9b3e.p

[2021-09-21 14:38] stevieflow opened #1360 "[IATI] - IATI Registry (rather than "iati register")?"
When a match in the publisher list is found, we see:

![IATI-CoVE (5)](https://user-images.githubusercontent.com/1209944/134191236-7ac94c90-99b0-48c7-a7b7-fa498e59ba4e.png)

Please can we change this text to :+1:

There are 1 publisher from the IATI Reporting Org list used in this dataset

Please also link "Reporting Org list" to https://codelists.codeforiati.org/ReportingOrganisation/

[2021-09-21 14:39] kindly commented on #1359
Yes that is right. I spotted a sample file that did the same.

[2021-09-22 08:06] BibianaC commented on #1360
@stevieflow would you not want to change "there are" for "there is" as well?

[2021-09-22 09:12] stevieflow commented on #1360
@BibianaC ideally, that would be conditional on the number of results.  When it's 1, then "there is", when > 1, "there are"...!

[2021-09-22 09:13] stevieflow commented on #1359
Should / could we add some default text when there is no feedback to give?

[2021-09-22 10:22] stevieflow commented on #1301
@Bjwebb @kindly @BibianaC  to avoid this (see #1354 for latest example), could the command be autorun with a github command?

(suggestion ^ from @andylolz , via code4IATI channels)

[2021-09-22 10:26] BibianaC commented on #1360
@stevieflow Maybe another ticket should be opened for this and linked to this one.

[2021-09-22 10:43] stevieflow opened #1361 "[IATI] Org references checks: is/are tense for single/multiple issues found"
Originally in https://github.com/OpenDataServices/cove/issues/1360#issuecomment-924686326

Checking if the tense is conditional across these tests

Here is a useful example - it looks like some conditional tenses might be in there... but not consistently

https://iati.cove.opendataservices.coop/data/59e04bc8-acce-4722-81de-448d26caf77c

... seems incorrect

.. seems correct

.. seems correct - but

[2021-09-22 10:44] stevieflow commented on #1360
Sure: https://github.com/OpenDataServices/cove/issues/1361

[2021-09-22 11:09] andylolz commented on #1301
Thanks @stevieflow,

Specifically on the [Reporting Organisation codelist](https://codelists.codeforiati.org/ReportingOrganisation/) – this codelist seems to update pretty frequently (more than once per week). You can get a sense of that from [its git history](https://github.com/codeforIATI/Unofficial-Codelists/commits/master/xml/ReportingOrganisation.xml). So auto-checking for updates pretty freq

[2021-09-22 11:12] stevieflow commented on #1301
Thanks @andylolz

Yes - with the new org references check, being in synch with the Reporting Org codelist will have to be automated, to save multiple requests to @kindly @BibianaC and/or @Bjwebb !

[2021-09-22 12:41] stevieflow commented on #1301
On a backlog for @odscjames !

[2021-09-22 13:02] Bjwebb commented on #1301
FWIW, the new org ref work pulls from codeforiati each time https://github.com/OpenDataServices/cove/blob/live/cove_iati/lib/iati.py#L499
It would probably be good to be more consistent about this though.

[2021-09-22 13:19] ghost commented on #1301
So let me get this clear - this is updating some / all of the codelists in https://github.com/OpenDataServices/cove/tree/live/cove_iati/non_embedded_codelists regularly with the latest ones from https://codelists.codeforiati.org/ ? Am I correct?

If so, we can't do that in GitHub actions alone - once that is done we would still have to deploy the new version of cove regularly, or the new codelists

[2021-09-22 13:36] andylolz commented on #1301
Aha, gotcha! I had missed that.

Either of those options sounds good to me.

[2021-09-23 10:36] Bjwebb commented on #1360
Fixed.

[2021-09-23 10:36] #1360 closed, assigned to Bjwebb, kindly

[2021-09-23 10:45] stevieflow commented on #1301
I agree.  I haven't a real preference.  The key bit is that the codelists update without our need to intervene manually.  @odscjames I'd also guess we'd need some kind of monitoring in place though, in case there was a fail?

As for timescales, then if it's confirmed that https://codelists.codeforiati.org/ReportingOrganisation/ is already auto synched, then this doesn't become _as_ urgent :)

[2021-09-24 13:39] ghost commented on #1301
Doing in parts - https://github.com/OpenDataServices/cove/issues/1301 adds a requests-cache framework and uses it for ReportingOrganisation.json & OrganisationRegistrationAgency.json

Previously these resources were fetched every time we processed something

If this is good, will do a second pull request that uses the same framework for the contents of https://github.com/OpenDataServices/cove/tree

[2021-09-24 13:49] stevieflow commented on #1301
Thanks @odscjames

I'm not qualified to answer - so wonder if @andylolz might take a look?

[2021-09-24 14:09] andylolz commented on #1301
Ah okay, I see. I haven’t tested it out, but this looks like a good improvement to me. So it will fetch at most once per day? That seems fine to me.

[2021-09-24 16:31] ghost commented on #1301
Yes

@Bjwebb  has approved https://github.com/OpenDataServices/cove/pull/1363 , I will put it live early next week

[2021-09-28 09:46] ghost commented on #1301
Deployed - ReportingOrganisation.json & OrganisationRegistrationAgency.json now fetched once per day (or on every deploy, if deploys are more regular)

TODO: Deal with files in https://github.com/OpenDataServices/cove/tree/live/cove_iati/non_embedded_codelists

[2021-11-02 11:11] ghost commented on #1301
Non-Embedded codelists are now loaded regularly from eg https://codelists.codeforiati.org/api/xml/ActivityScope.xml

@stevieflow I think this issue can be closed now?

[2021-11-02 12:39] stevieflow commented on #1301
Thanks @odscjames

[2021-11-02 12:39] #1301 closed

[2022-01-03 12:19] stevieflow opened #1366 "[IATI] schema error on ordering with org file - document-link/recipient-org"
This example validates - the document-link includes a recipient-country (as is permitted in the org standard):

https://docs.google.com/spreadsheets/d/1MXjepDgfzKw0ULUWzKmXVS0Al6rMhMHlgN-ZF6hLc70/edit#gid=1064738356

The XML in this conversion is:

[code]
This matches the ordering of elements in the IATI documentation:

https://iatistandard.org/en/iati-standard/203/organisation-standard/iati-organ

[2022-01-10 15:51] Bjwebb commented on #1366
Yes, I think this is the same problem.

The latest schema [includes an xsd:extension](https://github.com/IATI/IATI-Schemas/blob/version-2.03/iati-organisations-schema.xsd#L746), which the docs code, and flatten-tool's sorting code don't know how to handle correctly.

[2022-01-10 16:06] stevieflow commented on #1366
Thanks @Bjwebb. I know @akmiller01 has a PR ready https://github.com/IATI/IATI-Standard-SSOT/pull/388/files (via https://github.com/IATI/IATI-Extra-Documentation/issues/618). Would this then resolve our issue?

[2022-01-10 16:17] Bjwebb commented on #1366
flatten-tool has it's own copy of code to do this, so that PR won't fix it directly, but will be helpful for making the same change for flatten-tool.

[2022-05-24 14:54] stevieflow opened #1370 "[IATI] Transform section - include conversion to spreadsheet"
@Bjwebb do you think we might want to resituate the "Convert to spreadsheet" button that appears on XML submissions, to the new Transform section?

[2022-05-24 15:02] stevieflow opened #1371 "[IATI] Merge indicators - text"
Merge indicators by title.  This function will merge together any indicators in the result block, that share the same title.  No other data will be altered or changed.  This function is designed for instances where multiple periods exist within the same result/indicator, but are not uniquely referenced in the IATI standard or CoVE spreadsheet.

[2022-05-27 15:53] Bjwebb commented on #1370
Yes. And we should move the link to the converted file there from "Download and Share" also.

[2022-05-27 16:14] Bjwebb commented on #1371
@stevieflow How does this look:

![Screenshot from 2022-05-27 17-12-56](https://user-images.githubusercontent.com/634/170738082-c6967b93-a65c-41e7-b2a9-875a18ed15f6.png)

![Screenshot from 2022-05-27 17-13-28](https://user-images.githubusercontent.com/634/170738160-a23d2551-ab1a-4c5c-8175-17fe6e6b4e1f.png)

[2022-05-27 16:18] stevieflow commented on #1371
Perfect, thanks @Bjwebb

[2022-07-05 10:46] #1371 closed, assigned to Bjwebb

[2022-07-05 13:01] Bjwebb commented on #1366
This should be fixed now on https://iati.cove.opendataservices.coop/

[2022-07-05 13:01] #1366 closed, assigned to Bjwebb

[2022-07-11 10:25] #306 closed

[2022-07-11 10:30] #335 closed

[2022-07-11 10:35] robredpath commented on #334
Moved to https://github.com/ThreeSixtyGiving/dataquality/issues/39

[2022-07-11 10:35] #334 closed

[2022-07-11 10:37] robredpath commented on #336
Closing - I don't think we see this "in the wild" and other functions support publishers

[2022-07-11 10:37] #336 closed

[2022-07-11 10:38] robredpath commented on #354
Closing - we address data quality questions in several ways

[2022-07-11 10:38] #354 closed

[2022-07-11 10:41] robredpath commented on #438
Closing - we've improved the interface in several ways around this

[2022-07-11 10:41] #438 closed

[2022-07-11 10:43] robredpath commented on #390
Closing - in general we're moving towards inline/contextual help and we have separate publisher guidance now as well

[2022-07-11 10:43] #390 closed

[2022-07-11 10:44] #467 closed

[2022-07-11 10:45] robredpath commented on #512
We do a lot of this for 360 now

[2022-07-11 10:45] #397 closed

[2022-07-11 10:47] #515 closed

[2022-07-11 10:53] #586 closed

[2022-07-11 10:55] #1123 closed

[2022-07-11 10:58] #1130 closed

[2022-07-11 10:59] #632 closed

[2022-07-11 10:59] #1176 closed

[2022-07-11 10:59] #550 closed

[2022-07-11 11:03] #637 closed

[2022-07-11 11:05] #516 closed

[2022-07-11 11:06] #525 closed

[2022-07-11 11:07] robredpath commented on #943
Closing - re-open (or let us know via plan.io) if this happens again.

[2022-07-11 11:07] #943 closed

[2022-07-11 11:08] #1057 closed

[2022-07-11 11:11] #1119 closed

[2022-07-11 11:13] robredpath commented on #1070
We'll likely review geo messaging as part of the work on that, separately.

[2022-07-11 11:13] #1070 closed

[2022-07-11 11:16] robredpath commented on #1289
Moved to https://github.com/ThreeSixtyGiving/dataquality/issues/40

[2022-07-11 11:16] #1289 closed

[2022-07-11 12:37] #1135 closed

[2022-07-11 12:39] #1290 closed

[2022-07-11 12:40] #636 closed

[2022-07-11 12:40] #555 closed

[2022-07-11 12:41] #569 closed

[2022-07-11 12:47] robredpath commented on #662
Moved to https://github.com/ThreeSixtyGiving/dataquality/issues/52

[2022-07-11 12:47] #662 closed

[2022-07-11 12:47] #1335 closed, assigned to nobody

[2022-07-11 12:48] #615 closed

[2022-09-29 15:32] IsabelBirds opened #1373 "[IATI] Unhelpful error message"
When uploading a spreadsheet I got this error message, which didn't really help me debug anything.

![image](https://user-images.githubusercontent.com/44876111/193073431-fdace286-05b4-405e-894f-399b28153454.png)

It turned out the error was a column heading, which looked like this **budget//gavi:iso3** instead of **budget/0/gavi:iso3**